@font-face {
    font-family: 'league_spartanregular';
    src: url('../fonts/leaguespartan-bold-webfont.woff2') format('woff2'),
        url('../fonts/leaguespartan-bold-webfont.otf') format('otf'),
         url('../fonts/leaguespartan-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TrebuchetMS';
    src: url('../fonts/trebuchet/TrebuchetMS.eot');
    src: url('../fonts/trebuchet/TrebuchetMS.eot') format('embedded-opentype'),
         url('../fonts/trebuchet/TrebuchetMS.woff2') format('woff2'),
         url('../fonts/trebuchet/TrebuchetMS.woff') format('woff'),
         url('../fonts/trebuchet/TrebuchetMS.ttf') format('truetype'),
         url('../fonts/trebuchet/TrebuchetMS.svg#TrebuchetMS') format('svg');
}
@font-face {
    font-family: 'Georgia';
    src: url('../fonts/georgia/Georgia.eot') format('embedded-opentype'),
         url('../fonts/georgia/Georgia.woff2') format('woff2'),
         url('../fonts/georgia/Georgia.woff') format('woff'),
         url('../fonts/georgia/Georgia.ttf') format('truetype'),
         url('../fonts/georgia/Georgia.svg#Georgia') format('svg');
}

body{font-family: "Trebuchet MS", Trebuchet, Arial, Helvetica, sans-serif;}
/*RTL start*/
body.lang_ar{font-family:'arial';direction: rtl;}
body.lang_ar .small_header .text-left i {margin-right: 0px;margin-left: 10px;}
body.lang_ar footer h5:after{left:auto;right: 0px;}
body.lang_ar footer h5:after{left:auto;right: 0px;}
body.lang_ar .drop_categories{margin-right: 0px;margin-left: 30px;}
body.lang_ar .small_header span{float: right;}
body.lang_ar .pull-left{float:right !important;}
body.lang_ar .pull-right{float:left !important;}
body.lang_ar .navbar-toggle{float: left;margin-left: 15px;margin-right:0px;}
body.lang_ar a.google_btn img {margin-left: 10px;margin-right:0px;}
body.lang_ar .login_page .remember_me input{margin-right: 0px;margin-left: 5px;}
body.lang_ar a.facebook_btn i{margin-left: 20px;margin-right: 8px;}
body.lang_ar .home-logo{margin-left: 30px;}
body.lang_ar .small_header span{margin-left: 30px;margin-right: 0px;}
@media (min-width: 768px){
    body.lang_ar .navbar-nav>li, body.lang_ar .navbar-header, body.lang_ar .navbar-nav {float: right;}
    body.lang_ar .navbar-right {float: left!important;}
    body.lang_ar .navbar-right .dropdown-menu {left: 0;right: auto;}

}
/*RTL end*/

nav.navbar-findcond {margin: 0;border-bottom:none;}
nav.navbar-findcond button.navbar-toggle {background: #ab0c22; border-radius: 2px;margin-top: 20px;}
nav.navbar-findcond button.navbar-toggle:hover {background: #999;}
nav.navbar-findcond button.navbar-toggle > span.icon-bar {background: #fff;}
nav.navbar-findcond ul.dropdown-menu {border: 0; background: #fff; border-radius: 4px; box-shadow: 0 0 4px 0 #ccc;}
nav.navbar-findcond ul.dropdown-menu > li > a {    font-size: 1.6rem;line-height: 2rem;color: #0d0d0d;padding: 15px 20px 0;}
nav.navbar-findcond ul.dropdown-menu > li > a:hover, button.logout:hover {background:#fff; color: #ab0c22;}
nav.navbar-findcond span.badge {background: #f14444; font-weight: normal; font-size: 11px; margin: 0 4px;}
nav.navbar-findcond span.badge.new {background: rgba(255, 0, 0, 0.8); color: #fff;}
img{max-width:100%;}
.navbar-right .nav-text{border-radius:5px;text-decoration:none;padding:0px;padding:10px 15px;margin:0px 5px;border: 1px solid transparent;float: left;color: #ab0c22;font-size:14px;}
.home-logo{margin-top:-9px;align-items:center;justify-content:center;margin-right: 30px; margin-bottom:5px;max-width:200px}
.drop_categories{padding:10px 10px 20px 0px;float: left;margin-right: 30px;font-size:16px;}
.navbar-right .cart {display: inline-block;padding: 5px;border-radius: 5px;cursor: pointer;border:1px solid transparent;}
.navbar-right .cart:hover, .user_login:hover, .navbar-right .nav-text:hover{background: rgba(20,23,28,.05);border-color: rgba(20,23,28,.05);}
.drop_categories img{width: 20px;}
header .drop_box:hover ~ ul.dropdown-menu, header ul.dropdown-menu:hover {display: block;}
.drop_categories ~ ul.dropdown-menu i {padding-right: 10px;color: #a1a7b3;}
.drop_box{cursor:pointer;}
.drop_box ~ ul.dropdown-menu {top: 100%;padding: 0px;z-index: 999;min-width: 215px;}
.drop_box ~ ul.dropdown-menu li a{padding:8px 20px;}
.banner-image{background: url("../img/banner.jpg");background-repeat: no-repeat;background-size: cover;background-position:center;color: #fff;height: 550px;padding-top: 50px;}
.udemy-work{background-color:#ab0c22; padding:30px 0px 0px;}
.how-udemy-works{margin-top: 20px;color:#fff;}
.container-fluid {padding: 60px;position: relative;max-width: 1230px;}
.owl-item img {width: 100%;max-height: 220px;object-fit:cover;}
.slider-item{overflow: hidden;/* border:1px solid #dcdcdc;*/margin: 4px;border-radius: 6px;}
.slider-item h4{margin-top: 0px;}
.book-price{float:left;}
.price_block{margin-top: 5px;overflow: hidden;}
.add-cart-btn {color: #fff;background-color: #585858;font-weight: 600;border-radius:unset;padding: 7px 25px;}
.add-cart-btn:hover {color: #585858;background-color: #fff;border-color: #585858;font-weight: 600;border: 2px solid;border-radius:unset;}
.cart img{width:30px;}
.signup-btnn{color: #fff;background-color: #bf0000;font-weight: 600;border-radius:unset;padding: 7px 25px;margin-left:15px;}
.signup-btnn:hover{color: #585858;background-color: #fff;border-color:#bf0000;font-weight: 600;padding: 7px 25px;border: 2px solid;border-radius:unset;}
.ac-nav-class a{padding:0 !important;margin-top:2px;}
.third-nav>li>a{padding-top: 10px; color:#000;padding-right: 0;}
.owl-text{overflow: hidden;white-space: normal;font-weight: 600;height: 22px;font-size: 15px;color: #000000;margin: 4px 0px;float: left;white-space: nowrap;text-overflow: ellipsis;display: inline-block;width: 130px;}
h2.discovery-units-title{font-size: 20px;margin:30px 0 5px;text-transform:uppercase;font-weight:bold;}
.owl-sub-text {float: left;width: 130px;white-space: nowrap;overflow: hidden;height: 26px;font-size: 15px;font-family: arial;display: inline-block;text-overflow: ellipsis;}
.empty_star_rate {background-image: url(../img/empty_star.png);height: 12px;width: 60px;background-size: 12px;}
.star_rate {background-image: url(../img/color_star.png);height: 12px;width: 60px;background-size: 12px;float:left;} 
.topics{text-align: center;margin: 0;padding: 0;}
.owl-theme .owl-controls .owl-buttons div{background-color: #fff; ,margin:0; padding:0;}
.instruc{border-bottom:none;padding: 28px;text-align:center; }
.btn-start{color: #fff;background-color: #fb9703;border-color:#fb9703;font-weight: 700;}
.flleft{float: left;}
.btn {font-size: 16px;}input[type="radio"]:checked:before {background-color: #ffb606;}input[type="checkbox"]:checked:before {color: #ffb606;}
.owl-item.active{overflow: visible;opacity: 1;z-index: 99;}
.owl-carousel{z-index: 1;width:100%;}
.owl-item{display:block;}
.owl-item{opacity: 0;}
.slider-item a img:hover {opacity: 0.3;filter: alpha(opacity=100);}
.lesson-detail-ico{list-style-type:none;text-align:center;color:#ab0c22c2;font-size:18px;font-weight:bold;margin-bottom:10px;}
.home-header-title{text-align:center;font-size:19px;}
.sub-header{color:#af182d;font-weight:bold;}
.second-sub-txt{font-size:14px; text-align:center;margin-bottom:10px;}
/*Home page new*/
.owl-carousel .owl-stage{float:left;}
.bannerimg h1 {min-height: 44px;letter-spacing: 2px;font-family: "league_spartanregular";font-size: 22px;text-transform: uppercase;}
.bannerimg div {font-size: 24px;}
.bannerimg h1 span#typed {white-space: pre-wrap !important;}
.small_header span {float: left;margin-right: 30px;min-width: 21%;margin-bottom: 12px;margin-top: 12px;font-size: 14px}
.small_header .text-left span, .small_header .text-left a {color:#000;}
.small_header {background-color: #fff;}
.small_header .text-left i{margin-right:10px;}
.small_header a div{color:#000;padding-left: 15px;border-left: 1px solid #dbdbdb;}
a.share_social {display: inline-block;padding: 13px 7px;}
.search_box {position: relative;}
.search_box input[type="text"] {outline: none !important;width: 100%;border:1px solid #c6c6c6;padding: 10px 65px 10px 10px;}
.search_box button {border-top-right-radius: 5px;border-bottom-right-radius:5px;outline: none;position: absolute;right: 0px;top: 0px;background: transparent;border: 0px;height: 41px;padding: 0px 10px;color: #c6c6c6;z-index: 4;cursor: pointer;font-size: 18px;/*margin:0px 5px;*/}
.search_box button:hover{background-color:#000;color:#fff;border-radius: 0;}
.search_box button{background-color:#000;color:#fff;border-radius: 0;padding: 0 15px;}
.user_login {display: inline-block;padding: 8px 10px;border-radius: 5px;cursor: pointer;border: 1px solid transparent;margin:0px 5px;width:215px;}
.btn-outerline {border: 1px solid #fff;background: transparent;border-radius: 0px;font-size: 16px;padding:8px 25px;outline: none !important;color: #fff !important;}
.bannerimg h5 {margin: 20px 0px 30px;}
.accomod_block .col-xs-12{padding: 0px 12px 20px;}
.accomod_block h5 {color: #ec595f;font-size: 25px;margin:15px 0px;float: left;width: 100%;}
.accomod_block {padding:24px 12px 0px;background-color: #fff;margin-top: -120px;}
.accomod_block img{float: left;width: 100%;}
.udemy-work img {max-height: 60px;}
.udemy-work p {font-size: 12px;}
.udemy-work .text-center {padding-bottom: 30px;}
.no_pad{padding:0 !important}
.no_margin{margin:0 !important}
.list_price span {padding: 5px 0px;display: inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;float: left;font-family: arial;width: 100%;font-size: 18px;}
.list_price {text-align: center;color: #000;font-weight: bold;font-size: 18px;}
.pad_rl_5 {padding-left:0px;padding-right:5px;}
/*.pink_color{color:#c9007a;}
.violt_color{color:#3c4792;}
.green_color{color:#47a494;}*/


/*Course Page */
.slider-item{overflow: hidden; /*border:1px solid #dcdcdc;box-shadow:0 0 11px rgba(33,33,33,.2);*/margin: 4px;}
.slider-item h4{margin-top: 0px;}
.owl-content{display: block;padding: 9px 10px 15px 0px;background-color: white; overflow: hidden;}
.owl-detail-content{display: block;padding: 9px 10px 15px 0px;background-color:#ededed; overflow: hidden;}
.owl-text2{width: 100%;float: left;font-size: 13px;overflow: hidden;text-overflow: ellipsis;white-space: normal;height: 100%;max-height: 39px;font-size: 13px;color: #29303b;margin-bottom: 10px;word-break: break-all;height: 40px;}
.discovery-units-title h2{font-size: 20px;color: #505763;margin: 50px 0 10px 0px;}
.detail-units-title{font-size: 22px;margin: 0px 0 5px;font-weight: 400;margin-bottom: 20px;margin-left: 15px;}
.no-pad{padding:0}
.padd-left{padding-left:0;}
.ebook-address{list-style-type:none;padding-left:0;}
.supported-devices{list-style-type:none;padding-left:0;}
.supported-devices li {display:inline-block;font-size: 50px;padding: 0px 10px;}
.icon-txt{font-size:13px;color:#000;text-align:center;}
.supported-devices .fa{width:100%;text-align:center;}

/*.slider-item:hover{box-shadow: -4px 4px 9px #e6e6e6;}*/
.course_full_det {display: none;position: absolute;background: #fff;top: 50%;left: 100%;width: 300px;z-index: 3;padding: 20px 15px;border: 2px solid #dfdfdf;transform: translateY(-50%)}
.course_full_det:after, .course_full_det:before, .carousel-inner .item .lpr_course:first-child .course_full_det:after, .carousel-inner .item .lpr_course:first-child .course_full_det:before {top: 50%;left: 0;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;transform: rotate(270deg);}
.course_full_det:after, .carousel-inner .item .lpr_course:first-child .course_full_det:after {border-color: rgba(136, 183, 213, 0);border-bottom-color: #ffffff;border-width: 18px;margin-left: -36px;top: 50.9%;}
.course_full_det:before,.carousel-inner .item .lpr_course:first-child .course_full_det:before {border-color: rgba(194, 225, 245, 0);border-bottom-color: #dfdfdf;border-width: 21px;margin-left: -42px;}
.course_publish .date{color: #767676;font-size: 12px;}
.course_publish h4 {color: #4a576d;}
.course_seller {float: left;width: 100%;}
.course_seller span.dept {font-size: 13px;color: #1eb8b9;margin: 6px;float: left;}
.course_seller span.dept_bullet {color: #2cc79e;font-size: 13px;float: left;}
.course_seller span.dept_bullet::before {content: "•";color: #9e9999;font-size: 25px;line-height: normal;}
.course_popup_badge {margin-right: 20px;}
.course_badge span, .course_popup_badge span{color: #fff;background: #f5be47;padding: 4px 8px;font-size: 11px;position: relative;text-transform: uppercase;}
.course_badge span:after, .course_popup_badge span:after {content: "";position: absolute;z-index: 1;width: 15px;height: 21px;right: -7px;top: 0px;background: #f5be47;border-radius: 2px 2px 2px 0;transform: skew(-30deg)}
.flleft{float: left;}
.course_dept_section{width: 60%;}
.course_seller span.dept_bullet::before {content: "•";color: #9e9999;font-size: 25px;line-height: normal;}
.course_seller span.dept_bullet {color: #2cc79e;font-size: 13px;float: left;}
.course_seller span.dept {font-size: 13px;color: #1eb8b9;margin: 6px;float: left;}
.lect_section span{color: #4a576d;font-size: 13px;margin: 10px 15px 0px 0px;float: left;}
.lect_section span i{color: #4a576d;font-size: 15px;margin-right: 5px;}
.course_popup_det p {color: #767676;margin: 10px 0px;line-height: 23px;font-size: 14px;}
.course_popup_det p {color: rgb(74, 81, 92);font-size: 14px;line-height: 26px;margin: 10px 0px;}
.course_popup_det ul li {font-size: 13px;color: #6d7a91;padding: 3px 0px;}
.nomargin{margin: 0px !important;}
.nopadding{padding: 0px !important;}
.add_cart_section{padding:30px 0px 0;}
.add_cart_section i.fa {color: red;font-size: 22px;padding: 12px 0px;padding-left: 20px;}
.add_cart_popular, .add_cart_popular:hover {background: #ec5252;padding: 12px 10px !important;font-size: 16px !important;color: #fff !important;width: 100%;max-width: 180px;}
.btn {font-size: 14px;}input[type="radio"]:checked:before {background-color: #ffb606;}input[type="checkbox"]:checked:before {color: #ffb606;}
.slider-item a img:hover {opacity: 0.3;filter: alpha(opacity=100);}
.footer-content h2{font-size: 20px;text-align: left;font-weight: 500;color: #cb0077;border: top;margin: 0;border-top: 1px solid #dcdcdc;padding-top: 15px;margin-bottom: 5px;}
.footer-content{margin-top: 15px;}
.hr-div{border-top: 1px solid #dcdcdc;padding: 5px 0px;margin: 0 15px;}
.ratting-reviews{padding: 0 15px;overflow: hidden;padding-bottom: 12px;}
.course_seller span.dept_bullet {color: #2cc79e;font-size: 13px;float: left;}
.course_seller span.dept_bullet::before {content: "•";color: #9e9999;font-size: 25px;line-height: normal;}
.lpr_course{margin-top:0px;}
.product-amount{float:right;}
.discount-price{position:absolute;width:1px;height:1px;margin:-1px;padding:0;overflow:hidden;clip:rect(0,0,0,0);border: 0;}
.original-list-price{order: -1;color:#686f7a;font-weight:400;font-size:13px;margin-right:5px;text-decoration:line-through;}
.discount-list-price{color: #29303b;font-size: 18px;font-weight: 600;margin-right: 10px;}
.star_rate {background-image: url(../../sdream/img/color_star.png);height: 12px;width: 60px;background-size: 12px;}
.color_header-course{background-color: #ab0c22;color: #fff;}
.color_header-course h4 {font-size: 22px;padding: 15px 0;}
.course-imgs{width: 100%;border: none;padding: 4px;margin: 0;float: left;padding: 0;height: 125px;background-size: cover;background-position: center;background-image: url(../../sdream/img/no-img.jpg);}

.latest_courses .owl-nav div:before {font-family: 'FontAwesome';font-size: 50px;color: #767676;line-height:16px;}
.latest_courses .owl-nav div.owl-next:before {content: '\f105';}
.latest_courses .owl-nav div.owl-prev:before {content: '\f104';}
.latest_courses .owl-prev{position: absolute;left: -40px;top: 140px;}
.latest_courses .owl-next{position: absolute;top: 40%;right: -40px;transform: translateY(-50%);-moz-transform: translateY(-50%);-webkit-transform: translateY(-50%);}

.latest_courses .owl-nav > div.owl-prev, .latest_courses .owl-nav > div.owl-next {border-radius: 50%;background: #ededed !important;font-size: 0px;margin: 0px;line-height: normal;}
.latest_courses .owl-nav > div.owl-next{padding: 13px 13px 9px 17px;}
.latest_courses .owl-nav > div.owl-prev{padding: 13px 17px 9px 13px;}

/*Course Page End */
.home_page .owl-nav div:before {font-family: 'FontAwesome';font-size: 40px;color: #767676;line-height:16px;}
.home_page .owl-nav div.owl-next:before {content: '\f105';}
.home_page .owl-nav div.owl-prev:before {content: '\f104';}
.home_page .owl-prev{position: absolute;left: -45px;top: 95px;}
.home_page .owl-next{position: absolute;top: 30%;right: -45px;transform: translateY(-50%);-moz-transform: translateY(-50%);-webkit-transform: translateY(-50%);}

.home_page .owl-nav > div.owl-prev, .home_page .owl-nav > div.owl-next {border-radius: 50%;box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);background: #fff !important;font-size: 0px;margin: 0px;line-height: normal;}
.home_page .owl-nav > div.owl-prev:hover, .home_page .owl-nav > div.owl-next:hover{box-shadow: 0 2px 8px 2px rgba(20,23,28,.15);color: #00576b;color: #ab0c22;}
.home_page .owl-nav > div.owl-next{padding: 13px 13px 9px 17px;}
.home_page .owl-nav > div.owl-prev{padding: 13px 17px 9px 13px;}
.owl-theme .owl-nav .disabled{display:none;}
footer {font-size: 13px;color: #fff;background-color: #595959;float: left;width: 100%;padding-top: 30px;}
footer li a{color:#fff;}
footer h5 {position: relative;padding: 15px 0px;color: #fff;font-size: 16px;font-weight: bold;}
/*footer h5:after {content: "";height: 4px;width: 60px;float: left;display: inline-block;position: absolute;bottom: 0px;left: 0px;background-color: #bf0000;}*/
footer .nav>li>a {padding: 5px 0px;font-size: 13px;}
footer .green_free{color: #53b550;}
footer .nav-stacked i.fa {margin-right: 10px;}
.footer_social a {font-size: 20px;color: #fff;margin:0px 10px;display: inline-block;margin-left:0;}
.footer_social a i{padding: 5px 10px;}
.copyright_footer a {font-size: 12px;color: #fff;margin: 0px 15px 10px;display: inline-block;}
.copyright_footer {border-top: 1px solid #fff;margin-top: 10px;padding: 10px 0 0;color: #fff;}
.footer_social {margin-top: 15px;}
/*.copyright, .copyright_footer .text-right {padding-bottom: 20px;}*/

/*login page*/
.alert{clear:both;}
.login_page .panel {max-width: 280px;margin: 70px auto 20px;}
.login_page .panel-heading {font-size: 16px;color: #29303b;background: #fff;border-color: #dedfe0;padding:10px;text-align:center;}
.social_login{float: left;width: 100%;padding: 5px 10px;border-radius:unset;font-size: 16px;text-decoration: none !important;}
a.facebook_btn i {font-size: 21px;margin-right: 20px;margin-left: 8px;}
.login_page a.facebook_btn {background: #1a538a;color: #fff;}
.login_page a.google_btn {border: 1px solid #eaeaea;color: #333;margin-top: 15px;}
a.google_btn img {margin-right: 10px;}
.or_text:before {content: "";display: inline-block;width: 100%;left: 0px;top: 9px;height: 1px;background: #dedfe0;position: absolute;}
.or_text {text-align: center;position: relative;float: left;width: 100%;color: #29303b;font-weight: bold;margin: 10px 0px;}
.or_text span {background-color: #fff;position: relative;z-index: 1;padding: 3px 7px;}
.login_page .form-group .form-control {padding: 10px 10px 10px 45px;height: auto;}
.login_page .form-group #country_code1 {position: absolute;top: 10px;left: 10px;}
.login_page .form-group i.fa {position: absolute;top: 10px;left: 10px;color: #dedfe0;font-size: 20px;}
.login_page .form-group {position: relative;float: left;width: 100%;}

.login_page .remember_me input {position: relative;top: 2px;margin-right: 5px;}
.login_page a {color: #007791;}
.login_page small {font-size: 10px; width:100%;float:left;}
.login_page .sign_up {padding:0;margin-top: 8px;}
.color_header {background-color: #ab0c22;color: #fff;padding-top: 30px;}
.color_header h4 a {float: right;border: 1px solid #fff;color: #fff;padding: 10px 15px;font-size: 15px;text-decoration:none;}
.color_header h4 {font-size: 22px;margin-bottom: 25px;}
.color_header .nav>li>a {border-bottom: 5px solid transparent;border-top: 0px !important;border-left: 0px !important;border-right: 0px !important;padding: 5px 0px !important;background: transparent !important;color: #fff !important;margin-right: 30px;}
.color_header .nav>li.active>a, .color_header .nav>li>a:hover {border-color:#efa500;}
.search_course input[type="text"] {width: 100%;padding: 12px 42px 12px 12px;min-width: 210px;border: 0px;}
.search_course button {position: absolute;right: 0px;background: transparent;border-left: 1px solid #b6b6b6;border-width: 0px 0px 0px 1px;padding: 10px;font-size: 18px;top: 0px;color: #b6b6b6;}
.search_course {float: left;border: 1px solid #b6b6b6;position: relative;margin-bottom: 20px;}
.sort_by select {margin-left: 10px;padding: 13px 10px;margin-bottom: 20px;}
.course_detail {padding-left: 125px;color: #000;min-height: 110px;}
.course_detail img {position: absolute;left: 5px;top: 5px;width: 100px;height: 98px;}
.course_list h5 {font-weight: bold;font-size: 18px;margin: 5px 0px 0px;}
.course_list .cource_pub_name {font-size: 13px;font-weight: bold;color: #6b6b6b;}
.course_list {padding: 10px;float: left;width: 100%;border-bottom: 1px solid #b6b6b6;}
.course_list:last-child{border-bottom: 0px;}
.course_lists{border: 1px solid #b6b6b6;float: left;width: 100%;}
.mag_t_20{margin-top:20px;}
.sort_by {float: right;margin-bottom: 10px;color: #ab0c22;}
.sort_by select {margin-left: 10px;padding: 13px 10px;}
.course_list .cource_pub_name {font-size: 13px;font-weight: bold;color: #6b6b6b;}
.course_space {float: left;width: 100%;min-height: 85px;}
.course_count b {font-size: 24px;font-weight: normal;}
.instruct_resource a {background-color: #f3f3f3;color: #000;padding: 15px 20px;font-weight: bold;font-size: 17px;margin: 0px 10px 15px;display: inline-block;}
.instruct_resource h5 {margin: 40px 0px;}
.instruct_resource {margin-bottom: 30px;}
section.step_process {background-color: #f3f3f3;padding: 70px 0px 40px;}
section.top_courses {margin-bottom: 30px;}
.dash_icon {background-image: url(../img/dashboard_img.png);background-repeat: no-repeat;width:40px;height:43px;display: inline-block;}
.dash_icon.dash_icon_2 {background-position: -59px 1px;}
.dash_icon.dash_icon_3 {background-position: -113px 1px;}
.dash_icon.dash_icon_4 {background-position: -170px 1px;}
.dash_icon.dash_icon_5 {background-position: -220px 1px;}
.step_process b {padding: 13px 0px;float: left;width: 100%;font-size: 16px;color: #000;}
.step_process p {font-size: 12px;}
.step_process .col-md-05{margin-bottom:30px;}

/*course goal page*/
.course_header {padding: 20px 0px 0px;}
header#top {box-shadow: 0px 0px 4px #333;z-index: 99;position: relative;}
.goad_detail i.fa.fa-cog {color: #3ba494;font-size: 20px;position: relative;top: 1px;}
.light_blue {background-color: #e0f0ff;padding: 20px;margin-bottom: 30px;position:relative;}
.light_blue i.fa.fa-close {color: #505763;position: absolute;right: 10px;top: 10px;cursor:pointer;}
.light_blue b {color: #000;margin-bottom: 10px;float: left;width: 100%;font-size: 16px;}
.light_blue p {color: #505763;font-weight: bold;}
.step_step a {position: relative;background-color: #e1e1e1;width: 45px;display: inline-block;height: 45px;font-size: 19px;color: #ab0c22;line-height: 42px;border-radius: 50%;text-decoration: none;}
.step_step div {margin-bottom: 30px;}
.step_step p {min-height: 40px;}
section.step_step {text-align: center;color:#000;}
.step_step .active a{background-color: #ab0c22;color: #fff;}
.goal_img{background-image: url(../img/data_image.jpg);background-repeat: no-repeat;width:100px;height:100px;background-size: cover;left: 0px;top: 0px;position:absolute;}
.goad_detail {font-size: 13px;color: #000000;}
.goad_detail p {min-height: 45px;color: #505763;}
.goal_top {position: relative;padding: 0px 0px 30px 110px;}
.goad_detail b {padding-bottom: 5px;display: inline-block;}
.border_box {border: 1px solid #adadad;float: left;width: 100%;border-radius: 3px;color:#000;margin-bottom: 40px;}
.course_title {padding: 0px 20px 15px;float: left;width: 100%;border-bottom: 1px solid #adadad;}
.course_goal h4 {float: left;font-weight: bold;font-size: 20px;margin-top:25px;}
.course_title .btn-save, .btn-save.pull-right {float: right;margin-top: 15px;font-size: 14px;}
.btn-save {padding: 10px 15px;border: 1px solid #adadad;background-color: #fff;color: #adadad;}
.course_option input[type="text"] {float: left;width: 100%;padding: 10px 15px;margin-bottom: 15px;}
.course_option b {float: left;width: 100%;font-size: 15px;margin-bottom: 20px;}
.course_option {float: left;width: 100%;padding: 30px 15px;}
.course_option i.fa.fa-plus {border: 2px solid;color: #f69200;padding: 4px 6px;border-radius: 50%;text-align: center;}
.course_ques {margin-bottom: 25px;}
.course_right {padding: 15px;}
.course_right p {margin-bottom: 25px;}
.course_right b {width: 100%;float: left;margin-bottom: 20px;font-size: 16px;}
.btn.btn-review {background: #ab0c22;color: #fff;border-radius: 0px;padding: 13px 15px;max-width: 100%;min-width: 200px;margin-bottom: 50px;}
span.exclamation_mark{position: absolute;padding: 1px 5px;font-size: 9px;background-color: red;text-align: center;font-weight: bold;top: 2px;right: 2px;border-radius: 8px;}
span.exclamation{background-color: red;padding: 2px 6px;margin-bottom: 2px;}

/*curriculum page*/
.add_curiculum button {border: 1px solid #adadad;background-color: #fff;width: 100%;margin-bottom: 10px;padding: 10px;}
.add_curiculum .pad_5 {padding: 0px 5px;}
.btn-previw {float: right;margin-top: 15px;font-size: 14px;padding: 10px 15px;background: #ab0c22;color: #fff !important;margin-left: 10px;}
.add_curiculum i.fa.fa-plus-square {color: #ab0c22;font-size: 17px;}
.course_intro {background: #f3f3f3;border: 1px solid #adadad;padding: 20px;margin: 20px 0px;float: left;width: 100%;}
.lecture_block buttton {background: #fff;border: 1px solid #adadad;float: right;padding: 7px 10px;line-height: normal;cursor: pointer;}
.lecture_block {float: left;width: 100%;background: #fff;border: 1px solid #adadad;padding: 7px 30px 7px 15px;line-height: 32px;position:relative;}
.course_intro i.fa.fa-angle-down {position: absolute;right: 7px;font-size: 24px;color: #c0c0c0;top: 10px;}
.margin_b_20{margin-bottom:20px;}

/*price_coupon page*/
.course_price button {background: #f1f1f1;border: 1px solid #adadad;width: 100%;padding: 14px 5px;}
.course_price select {width: 100%;padding: 15px 7px;float: left;}
.course_price .pad_rl_5{padding-bottom:10px;}
.pay_approve {font-size: 13px;color: #8a8a8a;}
.course_coupon b {margin: 30px 0px 15px;}
.course_coupon button {border: 1px solid #adadad;background-color: #fff;padding: 10px 15px;color: #999999;}

/*Detail page*/
.cartgory_menu a {float: left;color: #686f7a;padding: 12px 16px;font-size: 13px;text-decoration:none;}
.cartgory_menu a:hover{background: #f2f3f5;}
section.detail_header {float: left;width: 100%;background-image: url(../img/detail_bg.jpg);color:#fff;padding: 30px 0px;}
.detail_left {background-color: #fff;padding: 5px;border-radius: 3px;position: absolute;z-index: 9;border: 1px solid #bbbbbb;top:0px;overflow:hidden;}
.detail_img{width:100%;height:180px;background-size:cover;}
.detail_left button {    width: 100%;border: 1px;border-radius: 3px;padding: 15px;font-size: 18px;margin-bottom: 10px;}
button.buy_now {background-color: #ab0c22;color:#fff;}
button.add_cart {background-color: #fff;border: 1px solid #bbbbbb;color:#505763;}
.detail_book {padding: 20px;}
.detail_price {color: #6e6e6e;font-family: arial;font-size: 15px;}
.org_price {font-size: 30px;font-weight: bold;color: #ab0c22;display: inline-block;min-width: 100px;margin-bottom: 15px;}
.stick_price {min-width: 60px;display: inline-block;}
.detail_book .days_left {color: #002e34;margin: 15px 0px 30px;}
.detail_book small {color: #505763;text-align: center;width: 100%;float: left;margin: 15px 0px 20px;}
.gift_course {padding-bottom: 15px;font-size: 18px;}
.gift_course i.fa.fa-heart-o {font-size: 26px;color: #f69c22;}
.detail_detail {font-size: 12px;}
.detail_detail h3 {font-size: 26px;font-weight: bold;}
.detail_detail h4 {line-height: 30px;}
.star-rate .fa-star {color: #f2f3f5;}
.overall_review i.fa.color_star, .color_star, .star-rate .fa-star.color_star {color: #ab0e22;}
.fa_cc {background-color: #efa500;border-radius: 3px;padding: 1px 2px;}
.detail_brief {color:#505763;}
.detail_brief b {font-size: 20px;color: #000;padding: 20px 0px 15px;float: left;width: 100%;}
.conpare_courses_img{width:100%;height:60px;background-size:cover;}
.conpare_courses strike {min-width: 80px;display: inline-block;text-align: left;}
.conpare_courses {font-family: arial;}
.conpare_courses strong {color: #000;font-size: 17px;}
.conpare_courses i {font-size: 22px;}
.conpare_courses .pad_rl_5 {padding-bottom: 15px;}
.compare_c_block {float: left;padding-top: 15px;width: 100%;border-top: 1px solid #d2d2d2;}
.user_review_detail {position: relative;padding: 0px 0px 25px 90px;float: left;width: 100%;}
.user_review_detail .img-circle {width: 80px;height: 80px;background-size: cover;border: 1px solid #ddd;position: absolute;left: 0px;top: 0px;}
.review_help label {border: 1px solid #ddd;padding: 8px 15px;cursor:pointer;}
.review_help input{display:none;}
.user_review {border-bottom: 1px solid #ddd;padding: 0px 0px 20px;margin-bottom: 20px;}
.overall_review i.fa {font-size: 20px;color: #f2f3f5;}
.seperat_star span {color: #ab0c22;font-family: arial;text-align: right;min-width: 40px;display: inline-block;font-size: 16px;}
.star_bar .seperat_star {    position: absolute;top: 4px;right: -100px;}
.rating-title{font-size: 22px;}
.overall_review h1 {font-size: 60px;color: #000;margin: 10px 0px 10px;}
.overall_review center {margin-bottom: 20px;}
.overall_review {float: left;width: 100%;padding-bottom: 40px;}
.user_review_detail strong {font-size: 20px;margin-right: 15px;color: #000;}
.progress-bar.progress-gray {background-color: #a1a7b3;}
.star_bar .progress {margin-bottom: 10px;background-color: #f2f3f5;box-shadow: none;}
.show_review {background: #fff;border: 1px solid #d2d2d2;padding: 10px 20px;color: #ab0c22;margin-top: 10px;}
.view_more {display: inline-block;color: #ab0c22;font-weight: bold;}
select.lang_select {max-width: 100%;min-width: 120px;padding: 4px;border: 1px solid #fff;background: #fff;color: #000;outline: none;font-size:16px;}
button.logout {width: 100%;padding: 10px;border: 0px;border-radius: 0px;text-align: left;background: #fff;outline: none;}
span.my-cart-badge {position: absolute;top: -5px;left:35px;background-color: #f49b00;color: #fff;min-width: 18px;text-align: center;}
.compare_c_block:hover {background: #e6e6e6;}
.detail_page{margin-bottom: 50px;}
.star_bar {padding-right: 160px;}
.pad_b_20{padding: 0px 0px 20px;}
.pad_r_15 {padding-right: 15px;}
.name-auth{width:100%;float:left;border-bottom:1px solid #dbdbdb;margin:10px 0px;margin-top: 0;}
.detail-pg-title{font-size: 2.8rem;font-weight:700;margin-top: 0;text-align: left;}
.detail-des{font-size: 2.2rem;line-height: 2.8rem;margin-top: 0;padding-top: 0;color: #595959;display: inline-block;}
.detail-auther-name{color: #000;font-size: 16px;}
.detail-auther-name span{color: #bf0000;cursor:pointer;}
.detail-auther-name span:hover{text-decoration:underline;}
.slide-detail{padding:0px 10px;}
.synop-title{color:#000;font-size:18px;display: inline-block;margin: 15px 0;}
.synop-prag{max-height: 288px;overflow:hidden;}
.detail-active-price{width:100%;float:left;font-size:14px;margin: 0 0 20px;color:#000;}
.primary-right-container{box-shadow: 0 0 7px #e6e6e6;padding: 2rem 1.5rem;width: 22rem;border: 1px solid #e6e6e6;background-color: #fff;width: 100%;float:left;}
.detail-active-price span{float:right;font-weight:bold;font-size:16px;}	
.action-container .btn{width:100%;float:left;margin-bottom:8px;}
.synopsis-section p{margin: 10px 0}
.pricing-title {font-size: 1.8rem;line-height: 2.4rem;font-style: normal;color: #0d0d0d;padding: 0;margin: 0 0 20px;}
.preview-actions{border-bottom:1px solid #dbdbdb;margin:5px 0px;padding-bottom:5px;}
.save-prive-act{width:100%;float:left;margin-top: 30px;}
.preview-actions .fa, .save-actions .fa{font-size:16px;margin-right:12px;color:#000;}
.save-actions{color:#bf0000;font-size:14px;cursor:pointer;}
.preview-actions a{color:#bf0000;font-size:14px;cursor:pointer;}
.preview-actions:hover, .save-actions:hover{text-decoration:underline;}
.ratings-summary{margin-top: 15px;cursor: pointer;}
.category-rankings{list-style-type:none;float:left;padding-left:0;margin-top:20px;word-break: break-all;}
.category-rankings li span{padding:0 5px;padding-left:0;}
.category-rankings li span:nth-child(2), .category-rankings li span:nth-child(3) {padding:0 5px;text-decoration:underline;cursor:pointer;}
.category-rankings li span:nth-child(2):hover, .category-rankings li span:nth-child(3):hover{color:#bf0000;cursor:pointer;}
.abt-book{width:100%;float:left;}
.abt-book h2{font-size:16px;font-weight:bold;color:#000;margin-bottom: 25px;}
/*Checkout page*/
.gray_bggg{background-color: #f5f5f5;border-bottom: 1px solid #dcdcdc;}
.gray_bggg p{padding: 10px 0px;margin-top: 10px;}

.gray_bg{background-color: #fff;box-shadow: -1px -3px 1px 0px rgba(163,163,163,1);}
.cart-item-head{font-size:18px;font-weight:bold;margin-bottom:10px;}
.cart-total-head{font-size:21px;font-weight:bold;}
.shop-cart p{margin:0; padding:20px 0;font-size:16px;}
.shop-slas{padding:0 40px;}
.checkout-page {margin-top: 40px;margin-bottom: 15px;}
.cart-img{width: 100%;background-size: cover;background-repeat: no-repeat;float: left;height:80px;}
.clearfix {border: 1px solid #dcdcdc;margin: 0 0 15px;padding: 8px 8px 0px 8px;overflow: hidden;border-radius: 3px;}
.cart-content p{position: relative;font-size: 13px;color: #686f7a;}
.discount-amt{padding-left:30px;text-decoration: line-through;color:#73767d;}
.cart-content .current-amt{font-weight: 600;color: #000;text-align: right;}
.checkout-main-div{margin-top:40px;min-height: 250px;}
.cart-content .col-xs-12 {padding: 0px 5px 8px;}
.cart-total-price {color: #ab0c22;font-size: 30px;font-weight: bold;margin-bottom: 15px;}
.checkout_btn {background: #ab0c22;color: #fff;border: 0px none;padding: 10px 12px;border-radius: 3px;font-size: 16px;margin-bottom:20px;margin-top: 10px;float:right;}
.cart-total {color: #686f7a;font-size: 18px;}
.remove_ptd {cursor: pointer;color: #ab0c22;}

.nav{padding:0px;}
.course-header {padding-bottom: 30px;}
.check-section{background-color: #ececec;}
.checkout-pagess input, .checkout-pagess select{border-radius:0px;}
.checkout-pagess{padding: 40px 0px;}
/*Profile page*/
.lesson-detail-ico li:hover {padding: 10px;background: #d5d5d5;cursor: pointer;}
.lesson-detail-ico li {padding: 10px;}
.profile_img {width: 120px;height: 120px;background-position: 50% 50%;background-repeat: no-repeat;background-size: cover;border-radius: 50%;}
.margin_tb_30{margin: 30px 0px;}
.profile_menu center {padding: 10px;}
.profile_menu a {float: left;width: 100%;padding: 3px 15px;color: #ab0c22;text-decoration: none;}
.profile_menu a.active, .profile_menu a:hover, .course_listin .nav .active a {background-color: #ab0c22 !important;color: #fff;}
.profile_title h2 {font-weight: 700;font-size: 22px;margin: 20px 0 3px;}
.profile_title {border-bottom: 1px solid #dedfe0;padding-bottom: 50px;margin-bottom: 15px;}
.save_btn {background: #f49b00;color: #fff;border: 0px none;padding: 7px 15px;margin-top: 10px;outline:none;}
.profile_page label {margin-bottom: 15px;}
.profile_right{border: 1px solid #dedfe0;}
.course_listin .nav a {color: #ab0c22;border-radius: 0px;}
.border_layout {float: left;width: 100%;border: 1px solid #dedfe0;}
.course_listin h1 {text-align: center;margin: 0px 0px 20px;font-weight: 700;font-size: 25px;color: #ab0c22;}
.course_listin .tab-content ul {margin-top: 30px;}
.course_listin .tab-content ul li {padding-bottom: 15px;}

/*Questions page*/
.right_qus ul {list-style: none;padding: 0px;}
.right_qus b {float: left;width: 100%;background: #ab0c22;color: #fff;padding: 10px;margin-bottom: 10px;}
.question_page section.col-xs-12 {padding: 15px;}
.question_page .container{border: 1px solid #ab0c22;}
.right_qus input[type="radio"] {position: relative;top: 2px;margin-right: 10px;}
.timmer {text-align: center;background-color: #efefef;float: left;width: 100%;border: 1px solid #ddd;border-radius: 3px;}
.timmer div {padding: 5px;}
.timmer b {font-size: 18px;}
.box_hint .col-xs-6 {font-size: 12px;padding: 10px 0px 0px;}
.small_box {float: left;width: 15px;height: 15px;border: 1px solid #dedede;margin-right: 5px;background-color:#fff;}
.smal_box {    display: inline-block;border: 1px solid #dedede;margin-right: 5px;background-color: #fff;min-width: 45px;text-align: center;cursor: pointer;position: relative;padding: 7px;border-radius: 8px;}
.green_clr {background: green;color:#fff;}
.orange_clr {background: orange;color:#fff;}
.qustion_no div {width: 20%;float: left;padding-top: 10px;text-align: center;}
.qustion_no {max-height: 350px;overflow: auto;float: left;width: 100%;}
/*Questions page End*/

/* Lesson code page  */
.lesson-background{background-color:#fff; color: #fff;height:500px;}
.lesson-content{box-shadow:-1px 0px 19px 1px rgba(194, 194, 194, 0.75); text-align: center;transition: 50%;position: absolute;top: 25%;left: 0;right: 0;margin: auto;max-width: 60%;background-color:#fff;padding: 15px;border: 2px solid #dcdcdc;}
.lesson-content h1{text-transform:uppercase;font-weight:600;color: #909090;font-size: 32px;}
.btn-lesson-submit{background-color: #002E42;border-color: #002E42 #002E42 #002E42;color:#fff;}
.btn-lesson-submit:hover{background-color: #2F9CF4;border-color: #2F9CF4 #2F9CF4 #2F9CF4;border-width: 1px;color: #fff;}
.lesson-content .btn-lesson-submit{margin-top:40px;}
.lesson-img{background-size: cover;background-repeat: no-repeat;background-image: url(../../sdream/img/lesson.jpg);background-position: 100% 40%;height: 210px;width: 200px;margin-left: 30px;}
.lesson-content .form-control{border: none;box-shadow: none;border-bottom: 2px dashed #777;}
/* Lesson code page End*/

/* Lesson Detail Page */
/*.lesson-detail-background{background-color:#fff; color: #fff;height:550px;}
.lesson-detail-title h2{margin-top: 70px;font-size: 30px;text-transform:uppercase;font-weight:600; text-align: center; color:#3c3c3c;margin-bottom: 20px;}
.panel-lesson-detail{background-color: rgba(0, 0, 0, 0); border:none;}
.btn-lesson-de{margin-top:15px;}*/
.detail-title{float: left;min-width: 150px;font-size: 14px;font-weight: bold;color: #000;}
.detail-ans{font-size: 14px;color: #5a5959;}
.lesson-detail-head{box-shadow:-1px -6px 29px -5px rgba(0,0,0,0.75); margin-top:50px; margin-bottom:50px;}
.lesson-detail-card{padding:15px 5px 15px 5px;}
.content {padding: 30px 0;}
.checkbox-success{text-align:center;}
.pricing {position: relative;margin-bottom: 15px;border: 3px solid #eee;}
.pricing-active {border: 3px solid #36d7ac;margin-top: -10px;box-shadow: 7px 7px rgba(54, 215, 172, 0.2);}
.pricing:hover {border: 3px solid #0a2e3b;}
.pricing:hover h4 {color: #36d7ac;}
.pricing-head {text-align: center;}
.pricing-head h3,
.pricing-head h4 { margin: 0;line-height: normal;}
.pricing-head h3 span,
.pricing-head h4 span {display: block;margin-top: 5px;font-size: 14px;font-style: italic;}
.pricing-head h3 {font-weight: 300;color: #fafafa;padding: 12px 0;font-size: 20px;background: #0a2e3b;border-bottom: solid 1px #0a2e3b;font-weight: bold;}
.pricing-head h4 {color: #bac39f;padding: 5px 0;font-size: 54px;font-weight: 300;background: #fbfef2;border-bottom: solid 1px #f5f9e7;}
.pricing-head-active h4 {color: #36d7ac;}
.pricing-head h4 i {top: -8px;font-size: 28px;font-style: normal;position: relative;}
.pricing-head h4 span {top: -10px;font-size: 14px;font-style: normal;position: relative;}
.pricing-content li {color: #888;font-size: 12px;padding: 15px 15px;border-bottom: solid 1px #f5f9e7;}
.pricing-footer {color: #777;font-size: 11px;line-height: 17px;text-align: center;padding: 0 20px 19px;}
.price-active,
.pricing:hover {z-index: 9;}
.price-active h4 {color: #36d7ac;}
.no-space-pricing .pricing:hover {transition: box-shadow 0.2s ease-in-out;}
.no-space-pricing .price-active .pricing-head h4,
.no-space-pricing .pricing:hover .pricing-head h4 {color: #36d7ac;padding: 15px 0;font-size: 80px;transition: color 0.5s ease-in-out;}
.yellow-crusta.btn {color: #FFFFFF;background-color: #f3c200;padding: 6px 25px;font-weight: bold;font-size: 18px;}
.yellow-crusta.btn:hover,
.yellow-crusta.btn:focus,
.yellow-crusta.btn:active,
.yellow-crusta.btn.active {color: #FFFFFF;background-color: #cfa500;}
.checkbox {padding-left: 20px; }
.checkbox label {display: inline-block;position: relative;padding-left: 5px; }
.checkbox label::before {content: "";display: inline-block;position: absolute;width: 17px;height: 17px;left: 0;margin-left: -20px;border: 1px solid #cccccc;border-radius: 3px;background-color: #fff;-webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;-o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
.checkbox label::after {display: inline-block;position: absolute;width: 16px;height: 16px;left: 0;top: 0;margin-left: -20px;padding-left: 3px;padding-top: 1px;font-size: 11px;color: #555555; }
.checkbox input[type="checkbox"] {opacity: 0; }
.checkbox input[type="checkbox"]:focus + label::before {outline: thin dotted;outline: 5px auto -webkit-focus-ring-color;.radio-success input[type="radio"] + label::after {background-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::before {border-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::after {background-color: #5cb85c; }outline-offset: -2px; }
.checkbox input[type="checkbox"]:checked + label::after {font-family: 'FontAwesome';content: "\f00c"; }
.checkbox input[type="checkbox"]:disabled + label {opacity: 0.65; }
.checkbox input[type="checkbox"]:disabled + label::before {background-color: #eeeeee;cursor: not-allowed; }
.checkbox.checkbox-circle label::before {border-radius: 50%; }
.checkbox.checkbox-inline {margin-top: 0; }
.checkbox-success input[type="checkbox"]:checked + label::before {background-color: #5cb85c;border-color: #5cb85c; }
.checkbox-success input[type="checkbox"]:checked + label::after {color: #fff; }
.radio {padding-left: 20px; }
.radio label {display: inline-block;position: relative;padding-left: 5px; }
.radio label::before {content: "";display: inline-block;position: absolute;width: 17px;height: 17px;left: 0;margin-left: -20px;border: 1px solid #cccccc;border-radius: 50%;background-color: #fff;-webkit-transition: border 0.15s ease-in-out;-o-transition: border 0.15s ease-in-out;transition: border 0.15s ease-in-out; }
.radio label::after {display: inline-block;position: absolute;content: " ";width: 11px;height: 11px;left: 3px;top: 3px;margin-left: -20px;border-radius: 50%;background-color: #555555;-webkit-transform: scale(0, 0);-ms-transform: scale(0, 0);-o-transform: scale(0, 0);transform: scale(0, 0);-webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);-moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);-o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
.radio input[type="radio"] { opacity: 0; }
.radio input[type="radio"]:focus + label::before { outline: thin dotted;outline: 5px auto -webkit-focus-ring-color;outline-offset: -2px; }
.radio input[type="radio"]:checked + label::after {-webkit-transform: scale(1, 1);-ms-transform: scale(1, 1);-o-transform: scale(1, 1);transform: scale(1, 1); }
.radio input[type="radio"]:disabled + label {opacity: 0.65; }
.radio input[type="radio"]:disabled + label::before {cursor: not-allowed; }
.radio.radio-inline {margin-top: 0; }
.radio-success input[type="radio"] + label::after {background-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::before { border-color: #5cb85c; }
.radio-success input[type="radio"]:checked + label::after {background-color: #5cb85c; }
/* Lesson Detail Page End */

/*testpage */
.question_answer{float:left;}
.image-options {text-align: center;margin-top: 15px;}
.mark-review{text-align: center;margin-top: 15px;}
.audio_palyers{text-align:center;}
.queation_answer{width:100%; float:left; overflow:auto;height:500px;}
.test-result{margin-top:25px;}
.test-result-heading{font-size:18px;font-weight:bold;}
.test-result>.test-result-heading{color: #fdfdfd;background-color: #0a2e3b;border-color: #0a2e3b;}
.btn-perspective:hover{background-color: #e00007;border-color: #e00007;}
.question_video{width:100%;float:left;}
.bt-test-pass{background-color:#168250;color:#fff;padding: 1px 10px;}
.bt-test-pass:hover{background-color:#0a2e3b;color:#fff;}
.bt-test-fail{background-color:#ff1100;color:#fff;}
.bt-test-fail:hover{background-color:#ff1100;color:#fff;padding: 1px 10px;}
/*.test-result-logo{margin-top:50px;}*/
/*testpage End*/

/* university page end  */
.univer-banner-img{background: url(../img/univers.jpg);background-color: rgba(45,51,57,.95);background-repeat: no-repeat;background-size: cover;background-position: top center;color: #fff;height: 450px;padding-top: 50px;position: relative;}
.univer-banner h5{color: inherit;margin: 0;line-height: 54px;text-transform: uppercase;font-size: 32px;font-weight: 700;padding-left: 25px;position: relative;padding-top: 45px;padding-top: 45px;}
.Universitys{background: #eee !important;}
.card-text{padding:15px;}
.Universitys{padding: 60px 0;}
.Universitys .section-title {text-align: center;color: #007b5e;margin-bottom: 50px;text-transform: uppercase;}
.Universitys .card {border: none;background: #ffffff;}
.Universitys  .img-fluid{margin-top: 20px;}
.image-flip:hover .backside,
.image-flip.hover .backside {-webkit-transform: rotateY(0deg);-moz-transform: rotateY(0deg);-o-transform: rotateY(0deg);-ms-transform: rotateY(0deg);transform: rotateY(0deg);border-radius: .25rem;}
.image-flip:hover .frontside,
.image-flip.hover .frontside {-webkit-transform: rotateY(180deg);-moz-transform: rotateY(180deg);-o-transform: rotateY(180deg);transform: rotateY(180deg);}
.mainflip {-webkit-transition: 1s;-webkit-transform-style: preserve-3d;-ms-transition: 1s;-moz-transition: 1s;-moz-transform: perspective(1000px);-moz-transform-style: preserve-3d;-ms-transform-style: preserve-3d;transition: 1s;transform-style: preserve-3d;position: relative;}
.frontside {position: relative;-webkit-transform: rotateY(0deg);-ms-transform: rotateY(0deg);z-index: 2;margin-bottom: 30px;}
.backside {position: absolute;top: 0;left: 0;background: white;-webkit-transform: rotateY(-180deg);-moz-transform: rotateY(-180deg);-o-transform: rotateY(-180deg);-ms-transform: rotateY(-180deg);transform: rotateY(-180deg);-webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);-moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);}
.frontside,
.backside {-webkit-backface-visibility: hidden;-moz-backface-visibility: hidden;-ms-backface-visibility: hidden;backface-visibility: hidden;-webkit-transition: 1s;-webkit-transform-style: preserve-3d;-moz-transition: 1s;-moz-transform-style: preserve-3d;-o-transition: 1s;-o-transform-style: preserve-3d;-ms-transition: 1s;-ms-transform-style: preserve-3d;transition: 1s;transform-style: preserve-3d;}
.frontside .card,
.backside .card {min-height: 312px;}
.backside .card a {font-size: 18px;color: #007b5e !important;}
.frontside .card .card-title,
.backside .card .card-title {color: #007b5e !important;}
.frontside .card .card-body img {width: 120px;height: 120px;border-radius: 50%;}
/*university page end  */

/* About Us page  */
.about-banner-img{background: url(../img/banner.jpg);background-color: rgba(45,51,57,.95);background-repeat: no-repeat;background-size: cover;background-position: top center;color: #fff;height: 450px;padding-top: 50px;position: relative;}
.about-banner h5{color: inherit;margin: 0;line-height: 54px;text-transform: uppercase;font-size: 32px;font-weight: 700;padding-left: 25px;position: relative;padding-top: 85px;}
/* About Us page End  */

/* Contact Us page  */
.contact-banner-img{background: url(../img/contact-banner.jpg);background-color: rgba(45,51,57,.95);background-repeat: no-repeat;background-size: cover;background-position: top center;color: #fff;height: 350px;padding-top: 50px;position: relative;margin-top:60px;}
.contact-sub-banner-img{background: url(../img/contact-sub.jpg);background-color: rgba(45,51,57,.95);background-repeat: no-repeat;background-size: cover;background-position: top center;color: #fff;height: 300px;padding-top: 50px;position: relative;}
.contact-info-form{margin-bottom:60px;}
.cont-banner{padding-top: 80px;padding-bottom: 80px;}
.cont-img-banner{padding-top: 60px;padding-bottom: 80px;}
.cont-banner h5{color: inherit;margin: 0;line-height: 54px;text-transform: uppercase;font-size: 48px;font-weight: 700;padding-left: 25px;position: relative;border-left: 5px solid #bf0000;}
.cont-img-banner h4{color: inherit;margin: 0;line-height: 54px;text-transform: uppercase;font-size: 32px;font-weight: 700;padding-left: 25px;position: relative;}
.contact-nav li{cursor:pointer; float:left;}
.contact-nav li a{display: block;color: #000;text-align: center;padding: 14px 16px;text-decoration: none;}
.contact-nav {list-style-type: none;margin: 0;padding: 0; overflow: hidden;border-bottom: 1px solid #dcdcdc;margin-bottom: 10px;}
.contact-head{background-color: #000000; }
.contact_heading {position: relative;margin: 0 0 30px;padding-top: 42px;padding-bottom: 19px;}
.contact_heading .title {text-transform: uppercase;line-height: 40px;font-size: 30px;font-weight: 700;margin: 0 0 2px;}
.text-left {text-align: left;}
.contact_heading .sub-heading {font-size: 15px;font-weight: 400;margin: 0;line-height: 30px;color: #999;}
.contact_heading.text-left .line{left: 0;right: auto;}
.contact_heading .line {background-color: #333;}
.contact_heading .line {position: absolute;bottom: 0;left: 0;height: 1px;background-color: #333;width: 35px;}
.contact-ico{margin-right: 10px;font: normal normal normal 14px/1 FontAwesome;color: #bf0000;}
.contact-title{text-transform: none;font-size: 15px;line-height: 25px;font-weight: 700;margin: 0;}
.contact-number{margin-left: 20px;}
.contact-infomation{border-bottom: 1px solid #dcdcdc;border-top: 1px solid #dcdcdc;padding: 30px 0;}
.pad-left{padding-left:0;}
.pad-right{padding-right:0;}
.btn-contact-submit{background-color: #bf0000;color:#fff;border-radius:0;margin-top:20px;}
.btn-sub-submit{background-color: #bf0000;color:#fff;border-radius:0;padding: 5px 9px;}
.contact-sub-banner-img input{background-color:transparent; color:#fff;}
.contact-sub-banner-img input::placeholder{color:#fff;}
.contact-form input{width: 100%;background: #fff;border: 1px solid #e5e5e5;border-radius: 0;box-shadow: none;min-height: 40px;padding: 10px;line-height: 20px;font-size: 13px;}
.demopadding {margin:10px auto;width:140px;text-align:center;}
.cont-icon{position:relative;text-align:center;width:0px;height:0px;padding:20px;border-top-right-radius:    20px;border-top-left-radius:     20px;border-bottom-right-radius: 20px;border-bottom-left-radius:  20px; -moz-border-radius:         20px 20px 20px 20px;-webkit-border-radius:20px 20px 20px 20px;border-radius:20px 20px 20px 20px;color:#FFFFFF;}
.cont-icon i {font-size:20px;position:absolute;left:9px;top:10px;}
.cont-icon.social {float: left;margin: 0 4px 0 0;cursor: pointer;background: #ffffff;color: #262626;transition: 0.5s;-moz-transition: 0.5s;-webkit-transition: 0.5s;-o-transition: 0.5s; border: 1px solid;}
.cont-icon.social:hover {background:#ffffff ;color:#6d6e71;transition: 0.5s;-moz-transition: 0.5s;-webkit-transition: 0.5s;-o-transition: 0.5s;-webkit-filter: drop-shadow(0 1px 10px rgba(0,0,0,.8));-moz-filter:    drop-shadow(0 1px 10px rgba(0,0,0,.8));-ms-filter:         drop-shadow(0 1px 10px rgba(0,0,0,.8));-o-filter:drop-shadow(0 1px 10px rgba(0,0,0,.8));filter:drop-shadow(0 1px 10px rgba(0,0,0,.8));     }
.cont-icon.social.fb i {left:13px;top:10px;}
.cont-icon.social.tw i {left:11px; background-color: ;}
.cont-icon.social.in i {left:11px;background-color: ;}
.contact-banner-img>.overlay-top-header {position: absolute;top: 0px;left: 0;right: 0;bottom: 0px;    background: rgba(0,0,0,.5);}
.contact-sub-banner-img>.overlay-top-header{position: absolute;top: 0px;left: 0;right: 0;bottom: 0px;    background: rgba(0,0,0,.5);}
/* Contact Us page end  */

/*Static page*/
.breadcrumbs {border-bottom: 1px solid #ddd;overflow: hidden;padding-bottom: 10px;padding-top: 10px;}
.print-btn{float: right;color: #25bec3;background-color: #fff;border-color: #013653;text-transform: uppercase;font-weight: 600;padding: 7px 15px; border: 2px solid;}
.print-btn:hover{color: #fff;background-color: #25bec3;}
.static_page p{color:#777777;padding: 0 40px;}
.static_page h3{color:#333;padding-left: 10px;}
/*Static page ends*/

/*search page*/
.title{padding-bottom: 20px;font-size: 14px;font-weight: bold;text-align: center;}
.marginspace{margin-top:75px;margin-bottom: 75px;}
.checkbx{padding: 20px 0 20px 0;}
.btm{    padding-bottom: 17px;font-size: 19px;font-weight: 400;}
.btm1{padding-bottom: 10px;font-size: 19px;font-weight: 400;}
.borderdsgn{   border: 1px solid #dcdcdc;box-shadow: 0 0 11px rgba(33,33,33,.2);padding: 15px 15px 28px 15px;}
.control-group {display: inline-block;width: 200px;height: 210px;margin: 10px;padding: 30px;text-align: left;vertical-align: top;background: #fff;box-shadow: 0 1px 2px rgba(0,0,0,.1);}
.rnge{text-align:left;}
.rnge input[type=range] {width: auto;}
.bt-primary {color: #fff;background-color: #ab0c22;border-color: #ab0c22;}
/*.focuscolr input:focus { 
    outline: none !important;
    border-color: #E00007;
    box-shadow: 0 0 5px #E00007;
}*/
.control {font-size: 12px;position: relative;display: block;margin-bottom: 18px;padding-left: 29px;cursor: pointer;font-weight: 200;text-transform: initial;}
.control input {position: absolute;z-index: -1;opacity: 0;}
.control__indicator {position: absolute;top: -1px;left: 0;width: 15px;height: 15px;background: #e6e6e6;}
.control__indicator1 {position: absolute;top: 0px;left: 6px;width: 15px;height: 15px;background: white;border:1.5px solid #7e808c;}
.control--radio .control__indicator {border-radius: 50%;}
/* Hover and focus states */
.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
    /*background: #ccc;*/

}
/* Checked state */
.control input:checked ~ .control__indicator {background: #ab0c22;}
.control input:checked ~ .control__indicator1 {background: #ab0c22;}
/* Hover state whilst checked */
.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
    /*background: #0e647d;*/
}

/* Disabled state */
.control input:disabled ~ .control__indicator {pointer-events: none;opacity: .6;background: #e6e6e6;}
/* Check mark */
.control__indicator:after {position: absolute;display: none;content: '';transform: scale(1);}
.control__indicator1:after {position: absolute;display: none;content: '';transform: scale(1);}


@supports (--css: variables) {
	input[type="range"].multirange {padding: 0;margin: 0;display: inline-block;vertical-align: top;}

	input[type="range"].multirange.original {
		position: absolute;
	}

		input[type="range"].multirange.original::-webkit-slider-thumb {
			position: relative;
			z-index: 2;
		}

		input[type="range"].multirange.original::-moz-range-thumb {
			transform: scale(1); /* FF doesn't apply position it seems */
			z-index: 1;
		}

		input[type="range"].multirange::-moz-range-track {
			border-color: transparent; /* needed to switch FF to "styleable" control */
		}

	input[type="range"].multirange.ghost {
		position: relative;
		background: var(--track-background);
		--track-background: linear-gradient(to right,
				transparent var(--low), var(--range-color) 0,
				var(--range-color) var(--high), transparent 0
			) no-repeat 0 45% / 100% 40%;
		--range-color: #ab0c22;
	}

		input[type="range"].multirange.ghost::-webkit-slider-runnable-track {
			background: var(--track-background);
		}

		input[type="range"].multirange.ghost::-moz-range-track {
			background: var(--track-background);
		}

}

/* Show check mar.control input:checked ~ .control__indicator:after {display: blo.control input:checked ~ .control__indicator1:after {display: block;}
/* Checkbox tick */
.control--checkbox .control__indicator:after {top: 3px;left: 6px;width: 3px;height: 8px;transform: rotate(45deg);border: solid #fff;border-width: 0 2px 2px 0;}
.control--checkbox .control__indicator1:after {top: 3px;left: 6px;width: 3px;height: 8px;transform: rotate(45deg);border: solid #fff;border-width: 0 2px 2px 0;}
.control--checkbox input:disabled ~ .control__indicator:after{border-color: #7b7b7b;}
#input-select,
#input-number {padding: 7px;margin: 15px 5px 5px;width: 70px;}
.noUi-horizontal {height: 10px;margin-bottom: 30px;}
.noUi-horizontal .noUi-handle {width: 30px;height: 30px;left: -17px;top: -10px;border-radius: 50%;outline: 0;}
.centerbtn{text-align: center;}
.radus{border-radius: 0px;}
.btn-colr:hover {color: #fff;background-color: #ab0c22;border-color: #ab0c22;}
  

/* end search page*/
/*cart button*/
.addbtn1{display: inline-block;height: 30px;width: 83px;border: 1px solid #ab0c22;color: #ab0c22;font-size: .9rem;font-weight: 600;line-height: 30px;position: relative;text-align: center;background-color: #fff;-webkit-transform: translateZ(0);transform: translateZ(0);margin-top: 5px;}
.minus {position: absolute;left: 0;top: 0;width: 33.33333%;display: inline-block;opacity: 1;-webkit-transform: translateZ(0);transform: translateZ(0);cursor: pointer;font-weight: 600;}
.one {position: absolute;left: 33.33333%;top: 0;width: 33.33333%;display: inline-block;opacity: 1;-webkit-transform: translateZ(0);transform: translateZ(0);cursor: pointer;}
.plus {position: absolute;right: 0;top: 0;width: 33.33333%;display: inline-block;opacity: 1;-webkit-transform: translateZ(0);transform: translateZ(0);cursor: pointer;font-size: 150%;font-weight: 600;}

/*end cart*/
.adpg-box{padding: 20px 70px 40px 70px;border: 1px solid #dcdcdc;box-shadow: 0 0 30px rgba(33,33,33,.2);}
.adpg-title h2{text-align: center;font-weight: 500;font-weight: 200;font-size: 31px;}
.adpg-title{margin:50px 0px;}
.adpg-box button{margin-top: 50px;}
.adpg-box button:hover{color: white;}
.adpg-box label{font-size: 17px; text-transform: uppercase;font-weight: 200;font-size: 16px;
 text-transform: uppercase;font-weight: 200;letter-spacing: 2px;word-spacing: 5px;}
.upfile{margin-top: 6px;}
.cou-icon{position: absolute;right: 26px;font-size: 27px;top: -2px;cursor: pointer;}
.cou-postn{position: relative;}
.fileUpload {position: relative;overflow: hidden;margin: 10px;background-color: white;height: 108px;width: 200px;text-align: center;}
.fileUpload input.upload {position: absolute;top: 0;right: 0;margin: 0;padding: 0;font-size: 20px;cursor: pointer;opacity: 0;filter: alpha(opacity=0);height: 100%;text-align: center;}
.custom-span{font-family: Arial;font-weight: bold;font-size: 54px;color: #ab0c22;}
#uploadFile{background: transparent;border: none;margin-left: 10px;border-radius: -3px;padding: 5px;box-shadow: 0 0 11px rgba(33,33,33,.2);border: 1px solid #dcdcdc;margin-left: 37px;}
.custom-para{font-size: 18px;padding-left: 20px;color: #585858;color: gray;letter-spacing: 1px;}
.cpmrgn{margin-bottom: 18px;}
.recomendes-book-link{border-left: 1px solid #dbdbdb;line-height: 0.6;margin-bottom: 15px;padding-top: 10px;}
.dropdown-content{box-shadow: 0px 0px 16px 1px rgba(125,116,125,1);}
.ebook-category li{display:inline-block; padding:8px;border:1px solid #000; border-radius:15px;margin:5px;font-size:14px; cursor:pointer;}
.ebook-category li:hover{background-color:#000;color:#fff;}
.ebook-main-div{padding: 15px;}
.dropbtn {background-color: #ffffff;color: #000;padding: 16px;font-size: 19px;border: none;margin-right: 10px;}
.dropbtn:hover{box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);color:#bf0000;}
.dropdown-ebook {position: relative;display: inline-block;}
.dropdown-content {display: none;position: absolute;background-color: #ffffff;width:780px;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);z-index: 1;}
.dropdown-content a {color: black;padding: 12px 16px;text-decoration: none;display: block;}
.dropdown-ebook:hover .dropdown-content {display: block;}
.fave-ebook a span{font-size: 28px;color: #b8b8b8;}
.fave-ebook a{padding-top:8px!important;}
.nav-tab-apps li a:hover{    border-color: unset;}
ul.ebook-category{height: auto;overflow:auto;}
.nav-tab-apps li a{border:none !important;padding-left: 40px;font-size: 16px;}
.nav-tab-apps li a i{font-size: 35px;padding-right: 7px;vertical-align: middle;color: #adadad;}
.tabs-left, .tabs-right {border-bottom: none;padding-top: 2px;margin: 10px 25px;height: 250px;}
.tabs-menus{border-right: 1px solid #ddd;box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);padding-left: 4px;right: -18px;position: relative;left: -60px;z-index: -99999;background-color: #ffffff;margin-top: 4px;}
.tabs-left>li{float: none;margin-bottom: 2px;border-bottom:1px solid #dbdbdb;}
.tabs-left>li>a {border-radius: 4px 0 0 4px;margin-right: 0;display:block;}
.key-gen-icon {-webkit-animation: rotation 2s infinite linear; font-size:20px;color: #3aa090; text-transform:uppercase;}
.divice-tab-panel{padding-left: 0;line-height: 2.3;list-style-type: none;cursor:pointer;color:#000;font-weight:400;}
.divice-tab-panel li:hover{text-decoration:underline;color:#bf0000;}
.tab-learn-more{padding-top:25px;padding-top: 65px; color:#bf0000;}
.divice-first{margin-top:30px;}
@-webkit-keyframes rotation {
from { -webkit-transform: rotate(0deg);}
 to { -webkit-transform: rotate(359deg);}
}

.key-gen-head{font-size: 20px;}
.mail-info-detail.res_wid{list-style-type: none;padding-left: 10px;}
.course-title-label{text-align: center;margin-top: 7px;}
.gen_btn{background-color: #002E42;border-color: #002E42 #002E42 #002E42;color:#fff;}
.gen_btn:hover{background-color: #2F9CF4;border-color: #2F9CF4 #2F9CF4 #2F9CF4;border-width: 1px;color: #fff;}
.label-danger.hide_toggel{cursor: pointer;margin-right:15px;padding:7px 10px; font-size:14px;font-weight:bold;}
.success-show_toggel{margin-top: 15px;font-size: 14px;font-weight: bold;}
.label-success.show_toggel:hover{background-color: #002E42;border-color: #002E42 #002E42 #002E42;color:#fff;}
.label-success.show_toggel{background-color: #002E42;border-color: #002E42 #002E42 #002E42;color:#fff;padding:6px 10px;cursor:pointer;font-size:12px;font-weight:bold;}
.tabs-menus:after, .tabs-menus:before {left: 100%;top: 50%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;}
.tabs-menus:after {border-color: rgba(136, 183, 213, 0);border-left-color: #fff;border-width: 10px;margin-top: -48px;}
.tabs-menus:before {border-left-color: rgba(188, 188, 188,0.26);border-width: 13px;margin-top: -51px;}
.header-container{width: 100%;max-width: 1140px;margin: 0 auto;display: table;}
.without-cart{margin-top:80px;line-height: 2.8;}
.without-cart-block{background-color:#ededed;width: 100%;float: left;margin-bottom: 15px;box-shadow:0px 0px 4px #333;height: 0px;overflow: hidden;}
.with-cart-block{background-color:#ededed;width: 100%;float: left;margin-bottom: 15px;box-shadow:0px 0px 4px #333;height: 0px;overflow: hidden;margin-bottom: 0;}
.ac-nav-class .res-signin{display:none;}
.user_login li{float:left;list-style-type:none;display:inline-block;margin-right:13px;text-decoration:none;}
..user_login a:hover{text-decoration:none;}
.user_login ul{overflow: hidden;padding-left: 35px;}
.user_login li a{color:#000;}
.user_login ul li:nth-child(3){font-size:17px;}
.user-login-drop li:nth-child(4){padding-top: 0px;margin-bottom: 7px;}
.user_login .sign-font-btn{position: absolute;top: 15px;right: 9px;font-size: 24px;}
nav.navbar-findcond ul.dropdown-menu.user-login-drop{margin-top:-5px;padding: 10px;}
.user_login:hover{background:unset;background-color:unset;}
.user-login-drop li:nth-child(3){padding-bottom: 15px; border-bottom: 1px solid #dbdbdb; }
.shopping-cart{ font-style: normal;font-weight: bold;font-size: 1.6rem;margin-top: 30px}
.add-cart-img .img-responsive{float: left;padding-right: 15px;max-width: 70px;}
.add-cart-img{margin-top:25px;}
.add-cart-detail h3{font-size: 1.6rem;color: #000;font-weight: bold;margin:0;}
.add-cart-detail p{font-family: "Trebuchet MS","Trebuchet",Arial,Helvetica,sans-serif;font-size: 1.4rem;color: #595959;margin:0;}
.rightside-wish{background-color:#fff;height:600px;}
.rightside-wish > div{padding:0px 0px;}
.add-cart-detail a{color:#000;font-size: 1.4rem;}.add-cart-detail a:hover{color:#bf0000;}
.first-div-cart{display:inline-block;float:left;}
.add-cart-detail{padding-left: 80px;line-height: 2.3;}
.cart-price-table h3{font-size:1.4rem;color:#000;padding-top:2px;font-weight:bold;}
/*.main-div-cart{    width: 100%;float: left;margin-bottom: 0px;border-bottom: 1px solid #dcdcdc;padding-bottom: 23px;}*/
.again-shopping a{color: #000;text-decoration: underline;}
.again-shopping a:hover{color:#bf0000;}
.cart-add-total{width: 100%;float: left;box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.38);margin-top: -0px;padding: 20px 15px;}
.cart-add-total span{margin-left: 135px;font-weight:bold;}
.sub-total-point{margin-top:15px;}
.again-shopping{margin-top: 25px;}
.cart-shop-btnn{color: #fff;background-color: #bf0000;font-weight: 600;border-radius:unset;padding: 8px 50px;overflow:hidden;}
.cart-shop-btnn:hover{color: #585858;background-color: #fff;border-color:#bf0000;font-weight: 600;border: 2px solid;border-radius:unset;}
.logout-btn{color: #fff;background-color:#0d0d0d;font-weight: 600;border-radius:unset;padding:8px 35px;overflow:hidden;margin-left: 10px;}
.logout-btn:hover{color:#0d0d0d;background-color: #fff;border-color:#bf0000;font-weight: 600;border: 2px solid;border-radius:unset;}
.related-rating{color:#000;font-size: 1.4rem;padding-left: 15px;}
.shop-cart-div{float: left;margin-top: 0px;text-align: center;margin-left: 36px;border: 1px solid #000;padding: 7px 10px;border-radius: 50%;}
.price-cart-fa{text-align:center;margin-top: -7px;}
.price-cart-fa .fa{border: 1px solid #000;color:#fff;border-radius: 50%;padding: 8px;cursor: pointer;font-size: 18px;background-color:#000;margin-bottom: 10px;}
.price-cart-fa .fa:hover{background-color:#fff;}
.price-cart-fa .fa:hover{color:#000;}
.brows-link-header{margin-top: 32px;width:100%;float:left;}
.browse-all-cat{color: #bf0000 !important;font-size: 14px;}
.brows-link-rec{margin-top: 38px;width:100%;float:left;}
.padd-right .col-xs-3 .img-responsive{height:150px;}
span.fa.fa-heart-o:hover {color: red;}
.abt-book img{width:40px;height:40px;}
.abt-book div{padding-left:0;}
.stat-icon{display: inline-block;float: left;position: relative;}
.abt-book .stat-desc{padding-left: 50px;font-size: 20px;}
.stat-desc span{display:block;font-size:14px;}

.without-login-msg {background: #ffffff;/*border-bottom: 2px solid #bf0000;*/border-top: 2px solid #bf0000;color: #000000;display: block;height: auto;margin: 0px auto;position: relative;width: 100%;margin-bottom: 15px;margin-top: 0px;}
.without-login-msg .innerWrapper {font-family: 'Trebuchet MS', Trebuchet, Arial, Helvetica, sans-serif;font-size: 18px;font-style: normal;padding: 10px 14px;text-align: center;}
.without-login-msg .innerWrapper > * {color: #444;display: inline-block;position: relative;}
.without-login-msg .innerWrapper strong {color: #bf0000;}
.without-login-msg {max-width: 1140px;}
.with-login-msg{background: #ffffff;border-bottom: 2px solid #bf0000;border-top: 2px solid #bf0000;color: #000000;display: block;height: auto;margin: 0px auto;position: relative;width: 100%;}
.with-login-msg .innerWrapper {font-family: 'Trebuchet MS', Trebuchet, Arial, Helvetica, sans-serif;font-size: 18px;font-style: normal;padding: 8px 14px 4px;text-align: center;}
.with-login-msg .innerWrapper .kwp_desktop{color: #444;display: inline-block;position: relative;}
.with-login-msg .innerWrapper strong {color: #bf0000;}
.with-login-msg .innerWrapper .kwp_expires {display: block;font-size: 12px;}
.cart .down-cart-arr{font-size:16px;margin-left:10px;}
.cart-badge{position: absolute;top: -4px;border-radius: 50%;right: 12px;padding: 4px 6px;}
/*Wishlist Page*/
.wishlist-page .wishlist-header .title {font-size: 2.8rem;font-weight: bold;padding: 0;margin-bottom: 2px;text-align:left;}
.wishlist-page .wishlist-item {padding: 20px;border: 1px solid #ccc;margin-bottom: 20px;display: table;position: relative;box-sizing: border-box;width: 100%;}
.wishlist-page .wishlist-item .item-link-underlay {position: absolute;top: 0;bottom: 0;left: 0;right: 0;}
.wishlist-page .wishlist div {margin-top: 20px;}
.wish-detail{margin-top:20px;}
.wishlist-page .wishlist-item .price {font-size: 2.1rem;font-weight: bold;color: #000;text-align: center;}
.wishlist-page .wishlist-item .item-info {display: table-cell;vertical-align: top;}
.heading-link .title {font-size: 2.1rem;line-height: 22px;font-weight: bold;color:#000;text-decoration:none;padding-bottom:0;text-align: left;}
.heading-link:hover{text-decoration:none;}
.product-price-container .cart-btn{text-align:center;}
.item-info .title:hover{color:#bf0000;}
.product-price-container .remove-wish{font-size:14px;color:#000;margin-top:10px;}
.product-price-container .remove-wish:hover{color:#bf0000;text-decoration:underline;}
.remove-list{text-align:center;margin:15px 0px;}
.auther-name span{margin-left:10px;color:#bf0000; word-break:break-all;}
.item-info .star-rate{margin-top:15px;word-break:break-all;}
.item-info .star-rate span{word-break:break-all;margin-left:15px;}
.synopsis {position: relative;display: block;font-size: 1.4rem;line-height: 1.8rem;overflow: hidden;}
.synopsis.read-more .teaser .dots {padding-right: .3rem;}
.wishlist-page .wishlist-item .synopsis-field {font-family: Georgia,"Times",times,serif;font-size: 1.4rem;}
.synopsis.read-more .teaser {display: block;position: absolute;bottom: 0;right: 0;padding-left: .5rem;margin-right: 5px;background-image: url();background-repeat: repeat-y;}
.synopsis-field{margin-top:20px;}
.synopsis.read-more{color:#595959;font-size:14px;}
.synopsis.read-more:hover{text-decoration:none;}
.wishli-content{border-right:1px solid #dbdbdb;}
.wishlist-page .add-cart-btn {color: #fff;background-color: #585858;font-weight: 600;border-radius:unset;padding: 7px 25px;width:100%}
.wishlist-page .add-cart-btn:hover {color: #585858;background-color: #fff;border-color: #585858;font-weight: 600;border: 2px solid;border-radius:unset;}
/*Whishlist page End*/

/*Myaccount page*/
.myaccount-page, .payment-info, .purchase-history{border:2px solid #dbdbdb;width:100%;float:left;}

ul.acc-header-menu {list-style: none;font-size: 16px;font-family: "Trebuchet MS",Verdana,Arial,Geneva,Helvetica,sans-serif;margin: 10 0 20px 0;padding-left: 0;}
ul.acc-header-menu li, ul.acc-header-menu a {display: inline-block;padding-right: 5px;}
.acc-header-menu a {color: #00A7CE;text-decoration: none;}
.acc-Container {position: relative;top: -1px;}
.acc-Container ul.kb_navTabs {margin-bottom: 0;border-bottom: 0;z-index: 100;text-align: center;text-transform: uppercase;font-family: "Trebuchet MS",Verdana,Arial,Geneva,Helvetica,sans-serif;float: left;height: 50px;list-style-type: none;margin: 0;padding: 0;}
.acc-Container ul.kb_navTabs li.active {-webkit-box-shadow: 0 0 1px white inset, 0 0 5px rgba(0,0,0,0.4);-moz-box-shadow: 0 0 1px white inset,0 0 5px rgba(0,0,0,0.4);box-shadow: 0 0 1px white inset, 0 0 5px rgba(0,0,0,0.4);background-color: #FCFCFC;top: 0;border-color: #fff;}
.acc-Container ul.kb_navTabs li {-webkit-box-shadow: 0 -2px 5px rgba(0,0,0,0.2);-moz-box-shadow: 0 -2px 5px rgba(0,0,0,0.2);box-shadow: 0 -2px 5px rgba(0,0,0,0.2);-webkit-border-radius: 4px 4px 0 0;-moz-border-radius: 4px 4px 0 0;border-radius: 4px 4px 0 0;height: 50px;border: solid 1px #999;border-bottom: 0;background-color: #bebebe;margin-right: 2px;position: relative;display: inline-block;}
.acc-Container ul.kb_navTabs li a {color: #fff;padding: 0 10px;position: relative;top: 17px;font-weight: bold;margin: 0;display: block;font-size: 14px;text-decoration: none;}
.acc-Container ul.kb_navTabs li.active a {height: 38px;color: #515151;background-color: #FCFCFC;font-size: 14px;text-decoration: none;}
.signin-info h2, .acc-change-pass h2, .acc-preference h2, .acc-deactivate h2, .purchase-info h2{padding-bottom:20px;width:100%;float:left;margin-top:40px;font-size:20px;font-weight:bold;color:#00A7CE;}
.signin-info {border-bottom:1px solid #dbdbdb;width:100%;float:left;}
.signin-div, .bill-adr{border-right:1px solid #dbdbdb; padding:20px 20px;}
.signin-info input, .billing-add{border-radius:0;width:80%;}
.signin-info label, .acc-preference label, .billing-add{text-transform:uppercase;}
.acc-btn-save{background-image: -webkit-gradient(linear,0 0,0 100%,from(#CCEDF5),to(#00a7ce)); color:#fff;font-weight:bold;padding:5px 30px;margin-bottom:20px;}
.acc-btn-save:hover{background-color:#00a7ce;color:#fff;padding:5px 30px;}
.acc-change-pass p{font-size: 12px;line-height: 18px;text-transform:uppercase;width:100%;float:100%;overflow:hidden;}
.acc-change-pass input{border-radius:0;width:50%;}
.acc-change-pass label{text-transform:uppercase;}
.ac-prifer{border-bottom:1px solid #dbdbdb; width: 100%;float:left;}
.de-activate{cursor:pointer;font-style:italic;color:#00A7CE;}
.dob-radio{position: relative;cursor: pointer;color: #666;float: left;margin-right:10px;}
.acc-deactivate{width:100%;float:left;}
.stars-read-only{overflow: hidden;float: left;margin-top: 20px;}
.billing-add h2, .cridet-add h2, .payment-info-sub h2{padding-bottom: 0px;width: 100%;float: left;margin-top: 40px;font-size: 20px;font-weight: bold;color: #00A7CE;}
.county-selct-box{width:50%;}
.billing-add{line-height:35px;}
.credit-bal-amount{width:100%;float:left;border:1px solid #dbdbdb;background-color:#F2F2F2;padding: 20px;}
.credit-bal-amount div{text-align:center;font-size:18px;color:#659E32;}
.credit-bal-amount p{text-align:center;color:#000;font-size:14px;}
.payment-info-sub{width:100%; float:left;}
.purchase-history{}
.carousal-container{width: 100%;max-width: 1140px;margin:0 auto;}
.second-carousal, .first-carousal{width:100%;float:left;padding: 28px 45px 0;background-color:#ededed;margin-bottom: 50px;}
.ratin-sec{float: left;text-align: left;padding: 30px 0;padding-top: 15px;padding-bottom: 40px;}
.row.rating-desc{padding-top: 10px;padding-right: 20px;}
.review-btnn:hover {color: #585858;background-color: #fff;border-color: #bf0000;font-weight: 600;padding: 7px 25px;border: 2px solid;border-radius: unset;}
.review-btnn {color: #fff;background-color: #bf0000;font-weight: 600;border-radius: unset;padding: 7px 25px;}
.third-review-sec{padding-left:25px;margin-top:25px;margin-top: 10px;}
.over-rating{background-color:#fff;border-color:#fff;}
.rating-desc .progress{border-radius:unset;}
.rating-desc .progress-bar{background-color:#000;}
.first-sec{padding-left:0;}
.btn-drop-filter{border-radius:unset;background-color:#dbdbdb;}
.review-listing-title{padding-top: 8px;font-size: 1.8rem;margin-top:0;color: #0d0d0d;font-style: normal;font-weight: 400;}
.all-review-sec{padding: 25px 15px;border-top:1px solid #dbdbdb; border-bottom:1px solid #dbdbdb;}
.all-review-help{padding: 25px 15px;border-bottom:1px solid #dbdbdb;}
.btn-drop-help{background-color:#fff;text-decoration:underline;border:unset;}
.btn-drop-help:hover{background-color:#fff;}
.drop-help-menu li{display:inline-block;float:left;}
.detail_page{width: 100%;float: left;padding-top: 50px!important;}
.drop-help-menu li a{padding: 12px 20px;margin-left: 15px;background-color: #000;color: #fff;font-weight: bold;}
.drop-help-menu li a:hover{background-color:#000;color:#fff;}
.drop-help-menu{padding:10px 0;}
.drop-section{list-style-type: none;padding-left: 0;}
.drop-section ul{z-index:9999;}
.drop-section li{ display: inline-block;padding: 0px 10px;}
/*Myaccount page end*/

/*Search page*/
.search-results-text{width:100%;padding-left:0;}
.search-results-text span{padding:10px 5px;}
.search-results-text h2{background: 0 0;font-weight: 400;font-style: normal;text-transform: none;font-size: 1.6rem;font-family: "Trebuchet MS",Trebuchet,Arial,Helvetica,sans-serif;color: #000;margin: 0;padding: 0;}
.search-drop-filt{width:100%;    transition: all 1s ease-in;z-index:9999;}
.search-drop-filt li{border-bottom: 1px solid #dbdbdb;}
.filter-drop{float:right;}
.btn-fil-tig{background-color:#d4d4d4;color:#000;border:unset;border-radius:unset;width:auto;font-weight:normal;color:#444;}
.search-drop-filt li{padding:5px 10px;}
.accordion {width: 90%;padding-left: 0;margin: 0px auto 20px;background: #fff;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;list-style-type:none;}
.accordion .link {cursor: pointer;display: block;padding: 10px 15px 10px 10px;color: #4d4d4d;font-size: 14px;border-bottom: 1px solid #ededed;position: relative;-webkit-transition: all 0.4s ease;-o-transition: all 0.4s ease;transition: all 0.4s ease;background-color: #ededed;}
.accordion li:last-child .link {border-bottom: 0;}
.accordion li i {position: absolute;top: 10px;left: 12px;font-size: 18px;color: #595959;-webkit-transition: all 0.4s ease;-o-transition: all 0.4s ease;transition: all 0.4s ease;}
.accordion li i.fa-chevron-down {right: 12px;left: auto;font-size: 16px;}
.accordion li.open .link {color: #b63b4d;}
.accordion li.open i {color: #b63b4d;}
.accordion li.open i.fa-chevron-down {-webkit-transform: rotate(180deg);-ms-transform: rotate(180deg);-o-transform: rotate(180deg);transform: rotate(180deg);}
.filter-submenu {display: none;background: #fff;font-size: 14px;padding-left:0;list-style-type:none;}
.filter-submenu li {border-bottom: 1px solid #dbdbdb;}
.filter-submenu a {display: block;text-decoration: none;color: #000;padding: 12px;padding-left: 10px;-webkit-transition: all 0.25s ease;-o-transition: all 0.25s ease;transition: all 0.25s ease;}
.filter-submenu a:hover {background: #fff;color: #000;}
.search-book-titile{font-size: 19px;margin-top: 0;font-weight: bold;margin-bottom: 5px;cursor:pointer;word-break:break-all;}
.sub-book-title{font-size: 14px;margin-top: 0;color:#595959;cursor:pointer;word-break:break-all;}
.search-book-titile:hover, .sub-book-title:hover{color:#bf0000;}
.book-rate-type{font-size: 2rem;font-weight: 700;color: #000;margin: 1rem 0 1.5rem;}
.book-paragraph{color: #595959;font-size:13px;}
.book-paragraph p{margin-top:15px;cursor:pointer;font-family:Georgia, Times, times, serif;}
.search-book-ratings{width:100%;float:left;}
.search-header{margin-top:20px;}
.search-book-ratings .stars-read-only{margin-top:5px;}
.search-series-name, .search-author-name{font-size:14px;color:#595959;cursor:pointer;}
.search-series-name span, .search-author-name span{font-size:14px;color:#bf0000;}
.search-series-name span:hover, .search-author-name span:hover{text-decoration:underline;color:#bf0000;}
.search-book-content{width:100%;float:left;padding-left:20px;}
.book-paragraph {max-height: 136px;height: 115px;position: relative;overflow: hidden;}
.book-paragraph .read-more { position: absolute; bottom: 0; left: 0;width: 100%; text-align: right; margin: 0; padding: 8px 0; padding-top:0;background-color:#fff;}
.result-items{padding:20px;border:1px solid #dbdbdb;width:100%;float:left;margin-bottom:15px;}
.my-book-first-res{display:none;}
.laout-icon{background-image: url(../img/menu.png);background-repeat: no-repeat;width: 3.5rem;height: 3.5rem;margin-right: 1rem;cursor: pointer;color: transparent;padding: 0;margin-left: 15px;margin-top: 3px;float:right;padding: 10px;}
.second-laout-icon{background-image: url(../img/second-menu.png);background-repeat: no-repeat;width: 3.5rem;height: 3.5rem;margin-right: 1rem;cursor: pointer;color: transparent;padding: 0;margin-top: 3px;float:right;padding: 10px;}
.more-menu{display:inline-block;float:right;background-image: url(../img/more.png);padding: 0;line-height: inherit;min-height: 0;width: 3.5rem;height:1.5rem;background-position: right center;background-repeat: no-repeat;margin-left: 25px;cursor:pointer;}
.login-btn{box-sizing: border-box;font-family: "Trebuchet MS",Trebuchet,Arial,Helvetica,sans-serif;display: inline-block;font-size: 1.4rem;color: #fff;width:100%;padding: 5px 10px;border-width: 3px;border-style: solid;border-radius: 0;text-decoration: none;outline: 0;cursor: pointer;background-color: #bf0000;color: #fff;border-color: #bf0000;font-weight: 700;}
.login-btn:hover{color: #bf0000;background-color: #fff;}
.panel-login{box-shadow:8px 9px 6px 2px rgba(219,219,219,1);}

.brows-cat h1{font-size:24px;font-weight:bold;font-family:"Trebuchet MS", Trebuchet, Arial, Helvetica, sans-serif;padding:25px 0px;margin-bottom:0px;padding-bottom:10px;margin-top:0;}
.list-book-cat h2{font-style: normal;font-weight: 700;font-size: 1.6rem;-webkit-box-sizing: border-box;box-sizing: border-box;display: inline-block;width: 100%;padding: 20px 20px 20px 20px;margin: 0;}
.list-book-cat ul li {-webkit-box-sizing: border-box;box-sizing: border-box;color: #404040;cursor: pointer;text-decoration: none;list-style-type:none;}
.list-book-cat ul li a{-webkit-box-sizing: border-box;box-sizing: border-box;color: #404040;cursor: pointer;text-decoration: none;list-style-type:none;}
.list-book-cat ul li a:hover{color:#bf0000;}
.list-book-cat ul{    padding-left: 45px;text-decoration: none;line-height: 2.3;list-style-type:none;}
 .book-catog{background-color:#fff;padding:8px;border-radius:5px;}
 
.brows-book-catogories{-moz-column-count: 3;-webkit-column-count: 3;column-count: 3;-moz-column-gap: 2rem;-webkit-column-gap: 2rem;column-gap: 2rem;}
.header-url ul li{list-style-type:none;display:inline-block;padding-right:15px;}
.header-url ul{padding-left:0px;}
.header-url ul li a{text-decoration:underline;color:#000;font-size:14px;}
.header-url ul li a:hover{color:#bf0000;}
.header-url{padding-top:20px;}
/*Serach Page End*/
/*feedback popup page*/
/*.feedback-header{border-bottom:none;}*/
.feedback-body{overflow: hidden;}
.feedback-body img {height: 48px;width: 48px;margin: 20px auto;display: block;cursor:pointer;}
.user-login-drop .drop-student-menu{position: absolute; left: -232px; width: 210px;z-index: 9999;    }
/*feedback popup page*/
/*Student Book Search page*/
.student-book-section{margin-top:20px;}
.book-filter-sec{padding:10px;}
.panel-search-book ul{padding-left:5px;list-style-type:none;}
.panel-search-book ul li{padding:8px;}
.book-search-accordion {background-color: #eee;color: #444;cursor: pointer;padding: 13px;width: 100%;border: none;text-align: left;outline: none;font-size: 15px;margin-bottom:5px;transition: 0.4s;}
.book-search-accordion:after {content: '\2212';color: #777;font-weight: bold;float: right;margin-left: 5px;}
/*.active:after {content: "\002B";}*/
.panel-search-book {padding: 0 18px;background-color: white;max-height: 0;overflow: hidden;transition: max-height 0.2s ease-out;}
.sem-book h2{font-size:16px;font-weight:bold;display: inline-block;width: 150px;white-space: nowrap;overflow: hidden !important;text-overflow: ellipsis;}
.sem-book h3{font-size:14px;color:#4d4a4a;display: inline-block;width: 150px;white-space: nowrap;overflow: hidden !important;text-overflow: ellipsis;margin-top:0;}
.book-img{text-align:center;}
.book-img img{width:100%; cursor:pointer;height: 230px;}
.sem-author-name{font-size:14px;color:#4d4a4a;}
.sem-author-name span{color:#bf0000;font-size:14px;margin-left:8px; }
.sem-book .sem-book-price{font-size:16px;color:#4a4a4a;font-weight:bold;}
.sem-book{margin-bottom:45px;}
.sem-book:hover{box-shadow: 10px 10px 5px 0px rgba(168,166,168,1); -ms-transform: scale(1.1);-webkit-transform: scale(1.1); transform: scale(1.1); }
.stud-content{padding:10px;}
.student-popup{margin-top:150px;}
.stud-review{overflow:hidden;}
.std-label{vertical-align: middle;margin-top: 8px;}
.btn-std-submit{color: #fff;background-color: #bf0000;font-weight: 600;border-radius: unset;border: none;border: 2px solid #bf0000;}
.btn-std-submit:hover{color:#bf0000;background-color:#fff;border: 2px solid #bf0000;}
.stud-review input{border-radius:unset;}
/*.active, .book-search-accordion:hover {background-color: #ccc;}*/
/*Student Book Search page End*/
.fa-barcode{font-size: 38px;color: #bf0000;}  
.select-country{background-color:#d8d8d8;border-color:rgb(169, 169, 169);}
.month-select select, .year-select select{background-color:#d8d8d8;border-color:rgb(169, 169, 169);}
.month-select option, .yea-select option{background-color:#fff;}
.slash-div{text-align:center;}
.slash-div span{font-size: 23px;color: #777;font-weight: 200;}
.setp-conform{color: #bbb;font-style: normal;line-height: normal;margin-top: 10px;
    font-size: 1.8rem;font-family: "Trebuchet MS",Trebuchet,Arial,Helvetica,sans-serif;}
.tot-amount{float:right;}
.credit-balance{float: right;}
.checkout-container{width: 100%;max-width: 990px;margin: 0 auto;display: table;padding-top: 15px;}
.tot-amount .tot-ams{vertical-align:middle;font-size:16px;font-weight:bold;float:right;    margin-top: 10px;font-family:"Trebuchet MS",Trebuchet,Arial,Helvetica,sans-serif;}
.tot-ams span{font-size:18px;margin-top: 25px;font-weight:normal;}
.choose-category ul{float:right;margin-top:10px;}
.dropdown.dropdown-submenu .dropdown-menu.drop-student-menu li a{padding-bottom:15px;}
.whithout-show{margin-top:10px;}



.mybook-content .drop-mybook li{margin-bottom:0!important;border-bottom: 1px solid #dcdcdc;}
.mybook-content .drop-mybook li:last-child{border-bottom:unset;}
.drop-mybook ul{list-style-type:none;padding-left:0;}
.drop-mybook ul li{margin-bottom:0px!important;padding: 7px 10px;
    border-bottom: 1px solid #dbdbdb;cursor:pointer;font-size: 13px;}
.drop-mybook ul li:hover{background-color:#dcdcdc;color:#444;}
.drop-mybook{position: absolute;width: 177px;height: auto;display:none;background-color: #fff;z-index: 99999;}

.mybook-content{width:100%;float:left;width: 100%;float: left;border-bottom: 1px solid #dbdbdb;}
.nav-third-menu .dropdown{padding-top:5px;}
.nav-third-menu{-webkit-box-sizing: border-box;box-sizing: border-box;z-index: 700;background: #fff;width: 100%;top: 0;position: relative;}
.mybook-section{padding-top:25px;}
.mybook-section h3{-webkit-transition: padding .15s ease-in-out 0s,color .15s ease-in-out 0stransition: padding .15s ease-in-out 0s,color .15s ease-in-out 0s;font-family: "Trebuchet MS"Trebuchet,Arial,Helvetica,sans-serif;font-size: 1.5rem;font-style: normal;font-weight: 700;colo: #000;text-transform: uppercase;float: left;height: 1.9rem;margin-right: 3rem;padding-bottom:3.3rem;border-bottom: 0.5rem solid #bf0000;margin-bottom: 0;cursor:pointer;}
.mybook-section{background-color: #ededed;width: 100%;height: inherit;}
.mybook-section .search_box{margin-top:10px;}
.mybook-section .search_box input[type="text"] {
    min-width: 300px;
}
.ebook-category li:active, .ebook-category li:visited{ border-color:#bf0000;background-color: #bf0000;color: #fff;}
.ebook-category{padding-left:0;margin-top:15px;border-bottom:1px solid #dbdbdb;padding-bottom:10px;}
.ebook-category span{font-family: "Trebuchet MS",Trebuchet,Arial,Helvetica,sans-serif;font-style: normal;color: #8c8c8c;text-transform: uppercase;margin-right: 1rem;}
.grid-selector{    padding-left: 0;list-style-type: none;float: right;}
.grid-selector li{display:inline-block;}
.mybook-div .dropdown-content{left: -220px;}
.mybook-div .sec-down-pay{left: -295px;}
.mybook-list {padding-top:40px;}
.book-price span{padding-left:5px;}
.mybook-list .book-price{    padding-bottom: 10px;font-family: "Trebuchet MS",Trebuchet,Arial,Helvetica,sans-serif;font-size: 12px;float: left;margin-top: 6px;width: 92%;}
.mybook-list .book-price a{color:#595959;text-transform:uppercase;}
.mybook-list .book-list{list-style-type:none;padding-left:0;width:100%;float:left;}
.book-list .images img{box-sizing: border-box;border: 1px solid #d8d8d8;width: auto;max-width: 100%;max-height: 30rem;}
.mybook-list .book-title{width: 100%;float: left;color: #000;font-size: 16px;padding-top:10px;cursor:pointer;}
.mybook-list .book-para p{width: 159px;float: left;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;font-size: 14px;color: #5a5959;cursor:pointer;}
.mybook-list .book-para:hover{text-decoration:underline;}
.book-auth-name{cursor: pointer;padding-top: 10px;color: #bf0000;font-size: 13px;width: 100%;float: left;}
.book-auth-name:hover{text-decoration:underline;color:#444;}

 .book-list li{margin-bottom:40px!important;}


.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
   top:0;left:100%;
   margin-top:-6px;margin-left:-1px;
   -webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;
 }
  
.dropdown-submenu > a:after {
  border-color: transparent transparent transparent #333;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  content: " ";
  display: block;
  float: right;  
  height: 0;     
  margin-right: -10px;
  margin-top: 5px;
  width: 0;
}
 
.dropdown-submenu:hover>a:after {
    border-left-color:#555;
 }

.dropdown-menu > li > a:hover, .dropdown-menu > .active > a:hover {
  text-decoration: none;
}  

.review-page{margin-top:50px;}
  .submition-sec{width:100%;float:left;}
  .sub-btns{float:right;}
  .review-header .input-div{margin:10px 0px;}
  .review-comment-section{border-radius:unset;}
  .add-review-required{float:right;}
  .review-header .section-title {font-size: 18px;}
  .star-review-sect{display: inline-block;float: right;margin-top:0;}
  .sub-section-title.item-title{font-size: 16px;font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;color: #0d0d0d;font-weight: 400;margin: 0;display: inline-block;}
    .sub-section-title{margin-bottom: 15px;font-size: 1.4rem;color: #595959;}
    .write-form-title, .complete-form-title{font-size: 2.8rem;line-height: 26px;line-height: 2.6rem;color: #0d0d0d;font-style: normal;margin: 0 0 10px;padding: 0;font-weight: 400;}
    .form-header .sub-title{font-size: 16px;font-size: 1.6rem;line-height: 16px;line-height: 1.6rem;color: #595959;font-family: Georgia,Times,serif;padding: 0 0 40px}
    .review-comment-section label{    font-size: 16px;font-size: 1.6rem;line-height: 16px;line-height: 1.6rem;color: #595959;font-family: Georgia,Times,serif;margin: 20px 0 10px;}
    .section-title.rating{font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;color: #0d0d0d;font-weight: 400;margin: 0;display: inline-block;font-size:18px;}
    .wirte-review-inp{-webkit-box-sizing: border-box;box-sizing: border-box;font-size: 14px;font-size: 1.4rem;line-height: 20px;line-height: 2rem;width: 100%;max-width: 100%;border: 1px solid #d9d9d9;padding: 5px 10px;font-family: Georgia,Times,serif;font-style: normal;color: #0d0d0d;border-radius:unset;}
    .review-page input{border-radius:unset;font-style:italic;}
    .sub-btns .btn-review-cancel{padding:5px 60px;background-color:#595959;border:2px solid #595959;color:#fff;font-weight:bold;border-radius:unset;}
    .sub-btns .btn-review-cancel:hover{background-color:#fff;color:#595959;}
    .sub-btns {margin:10px 0px;}
    .sub-btns .btn-review-submit{padding:5px 60px;background-color:#bf0000;border:2px solid #bf0000;color:#fff;font-weight:bold;border-radius:unset;}
    .sub-btns .btn-review-submit:hover{background-color:#fff;color:#bf0000;}
    .book-review{border-bottom: 1px solid #dbdbdb;padding-bottom: 25px;}
@media (max-width: 767px){
    .course_listin .border_left {border-top: 1px solid #dedfe0;}
    .detail_left{top:0 !important;position: relative;}
    .cart-img{height: 150px;}
    .drop_box ~ ul.dropdown-menu{position:relative;width:100%;float:left;}
    .step_step p {font-size: 11px;}
    .drop_categories{margin:10px 15px 0px; font-size:16px;}
    .search_box{margin: 15px 15px 0px;}
    header .nav>li{width: 100%;float: left;}
    .accomod_block{margin-top:0px;text-align:center;}
    .how-udemy-works{text-align: center;}
    .profile_menu {float: left;width: 100%;margin-bottom: 20px;}
    .lesson-content{top:6%;max-width: 90%;}
    .nav-toggle-bar{float:left;}
    .nav-third-menu, .small_header, .without-cart-block{display:none;}
    .ac-nav-class .res-signin{display:block;float: left;margin-top: 10px;}
   	.ac-nav-class .normal-signin{display:none;}
    .signup-btn{display: inline-block!important;float: left!important;margin-right: 14px;}
    .normal-signin{display:none !important;}
    .home-logo img{margin-top:10px;}
    .user_login ul{padding-left: 0px;}
    .user_login .sign-font-btn{right:45px;}
  	.sidenav {height: 100%;width: 0;position: fixed;z-index: 1;top: 0;left: 0;background-color: #fff;overflow-x: hidden;transition: 0.5s;padding-top: 35px;}
	.sidenav .closebtn {position: absolute;top: 0;right: 25px;font-size: 36px;margin-left: 50px;}
	.ebook-category-nav li{padding: 8px;border: 1px solid #000;border-radius: 15px;margin: 5px;font-size: 14px;cursor: pointer;text-align: center;list-style-type: none;}
	.ebook-category-nav  li:hover{background-color:#000;color:#fff;}
	.ebook-category-nav{padding-left:0;padding:5px; border-bottom:1px solid #dbdbdb;padding-bottom: 20px;}
	.brows-link{margin-top: 32px;text-align: center;}
	.browse-all{color:#bf0000; text-align:center;font-size:14px;}
	.recomendes-book-link a {color: black;padding: 12px 16px;text-decoration: none;display: block;}
	.recomendes-book-link {border-left: 1px solid #dbdbdb;line-height: 1.6;margin-bottom: 15px;padding-top: 10px;}
	.header-first-accordian .panel-title{padding-left:15px; color:#bf0000;}
	.rec-accessories a{border-bottom:1px solid #dbdbdb;border-top:1px solid #dbdbdb;}
	.rec-accessories a:hover{color:#bf0000;}
	.nav-wishlist{padding-left: 35px;padding: 13px 30px;background-color: whitesmoke;border-bottom: 1px solid #dbdbdb;margin-top: 5px;font-size: 16px;font-weight: 500;text-transform: uppercase;color: #bf0000;cursor:pointer;}
	.nav-home-link{padding-left: 35px;padding: 13px 30px;background-color: whitesmoke;border-bottom: 1px solid #dbdbdb;margin-bottom: 5px;font-size: 16px;font-weight: 500;text-transform: uppercase;color: #bf0000;cursor:pointer;}
	.search_box{display:none;}
	.selectbox-nav{    padding-left: 20px;background-color: #f5f5f5;margin-bottom: 4px;margin-top: 5px;}
	select.lang_select{background:#f5f5f5;border-color:#f5f5f5;}
	.acc-change-pass input{border-radius:0;width:100%;}
	.acc-change-pass label{text-transform:uppercase;}
	.stars-read-only{text-align:center;width:100%;}
	.search-book-ratings .stars-read-only{text-align:left;}.search-book-content{padding-left:0;}
    .img-detail img{width:200px; box-shadow: 1px 28px 24px -15px rgb(151, 145, 145);}
    .img-detail{text-align:center;}.save-prive-act{text-align:center;}
    .abt-book{margin:20px 15px;}.overall-rat { padding-left: 15px;}.third-review-sec{margin-top:25px;padding-left:0;}
    .category-rankings{display:none;}.name-auth{margin-top:30px;}.my-book-first-res{display:block;}
    .my-book-second-res{display:none;}.search-book-titile{font-size:14px;}
    .checkout_btn {float:left;}
    .slash-div{display:none;}
}

@media screen and (max-width: 568px) {
	.book-paragraph p{display:none;}


}
@media screen and (max-height: 450px) {
  	.sidenav a {font-size: 16px;color: #585859;}
    

}
@media (max-width: 992px){
    .lesson-content{top:6%;}
    .exp-date{display: block;margin-left: 15px;margin-bottom:}
    
}
@media (min-width: 768px){
    .course_listin .border_left {min-height: 400px;border-left: 1px solid #dedfe0;}
    .profile_right{padding: 0px 0px 0px 160px;min-height: 400px;}
    .profile_right:before {border-left: 1px solid #dedfe0;content: "";height: 100%;position: absolute;top: 0px;left: 160px;}
    .profile_menu {position: absolute;left: 0px;top: 0px;bottom: 0px;width: 160px;}
    .fixed_div_ex {position: fixed;max-width: 210px;}
    .bannerimg h1{font-size: 30px;}
    ul.nav.navbar-nav {margin-top: 0px;}
    .detail_brief {min-height: 350px;}
    .course_right {border-left: 1px solid #adadad;}
    .step_step div:before {content: "";background: #e1e1e1;height: 2px;width: 100%;display: block;position: absolute;top: 72px;left:0px;}
    .step_step div:first-child:before {width: 50%;right:0px;left:auto;}
    .step_step div:last-child:before {width: 50%;}
    .course_detail {border-right: 1px solid #b6b6b6;}
   	.header-first-accordian, .closebtn{display:none;}
    .sidenav{width:unset!important;}
    /*.contai-ner, .with-cart-div, .with-cart-div>div, .padd-right .col-xs-3{padding-left:0;}*/
    .padd-right{padding-right:90px;}
    .acc-padding-left{padding-left:0}
    .acc-padding-right, .month-select{padding-right:0}
    .img-detail img{width:80%;box-shadow: 1px 28px 24px -15px rgb(151, 145, 145);}
    .owl-item img{height:220px;}
    .drop-section{float:right;}
    .header-container{padding:0 15px;}
    .my-book-second-res{display:block;}
    .checkout-pagess{width: 85%;float: right;}
    .gray_bggg p{width: 380px;float:right;}
    .shop-cart p{margin-left: 185px;}
    .year-select{padding:0;}
    .checkout-pagess .form-group{margin-bottom:20px;}
    .setp-conform, .credit-balance, .tot-amount{text-align:right;}
    .credit-balance{width: 150px;}

}
@media (min-width: 992px){
    .fixed_div_ex {position: fixed;max-width: 285px;}
    .bannerimg h1{font-size: 40px;}
    .bannerimg h5{font-size: 25px;}
    ul.nav.navbar-nav {margin-top: 0px;}/*ul.nav.navbar-nav.navbar-right{margin-top: 35px;}*/
    .col-md-05{width:20%;}
    .col-md-ffset-0{margin-left:0px;}
    .lesson-content{top:25%;}
    .first-sec, .second-sec{border-right:1px solid #dbdbdb;}
     .search_box input[type="text"]{min-width: 450px;}
     .exp-date{float: left;margin-top: 6px;margin-left: 15px;}
      .footer-width{width:18%;}

}
@media only screen and (min-width: 1000px)
{
   /* .slider-item:hover .course_full_det{display: block;}*/
    .lpr_course:hover .course_full_det, .slider-item .course_full_det:hover {display: block;}
    .small_header .pull-left.text-left {width: 68%;}
     .header-container{padding:0 0px;}
}
@media (min-width: 1200px){
    .fixed_div_ex {position: fixed;max-width: 320px;}
   
}
@media (max-width: 880px) and (min-width: 569px){
.brows-book-catogories {-moz-column-count: 2;-webkit-column-count: 2;column-count: 2;}
}
@media  only screen and (max-width: 569px){
 .brows-book-catogories {-moz-column-count: 1;-webkit-column-count: 1;column-count: 1;}   
 .book-catog{padding:0;}
    }
@media  only screen and (min-width: 569px){
.accordion-book-cat{display:none;}
}
.filter-submenu .active a {
    color: #bf0000;
}