 /*4.6 Top Cart */
.top-cart-contain .top-cart-content {
  opacity: 0;
  transform-origin: 0 0 0;
  transition: all 0.5s ease 0s;
  -ms-transform: scaleY(0);
  -webkit-transform: scaleY(0);
  -moz-transform: scaleY(0);
  -o-transform: scaleY(0);
  transform: scaleY(0);
}
.top-cart-contain .mini-cart:hover .top-cart-content {
  opacity: 1;
  -ms-transform: scaleY(1);
  -webkit-transform: scaleY(1);
  -moz-transform: scaleY(1);
  -o-transform: scaleY(1);
  transform: scaleY(1);
}
.top-cart {
  padding-left: 0px;
  padding-right: 0px;
}
.mini-products-list .product-image {
  float: left;
  padding: 0;
  width: 68px;
  padding: 0px;
  border: 1px #e8e8e8 solid
}
.top-cart-content .product-name {
  margin: 0;
  /*width: 178px;*/
  line-height: 1.3em;
  padding: 0 0 3px
}
.top-cart-content .product-name a {
  font-size: 12px;
  line-height: normal;
  font-weight: 400;
  padding-right: 5px;
}
.top-cart-title span {
  font-weight: normal;
  font-size: 12px;
  color: #fff;
  text-transform: inherit
}
.top-cart-title p span {
  text-transform: none
}
.top-cart-contain .price {
  color: #000;
  font-weight: 600;
  text-transform: uppercase;
  padding-left: 10px;
  float: right
}
.top-cart-contain .product-details .price {
  width: auto;
  float: none;
  font-weight: 600;
  padding-left: 0px;
  font-size: 12px
}
/*.mini-cart {
  text-align: center;
}*/
.mini-cart .basket a {
  color: #494b58;
  margin: 0px;
  font-size: 12px;
  font-weight: 600;
  padding: 11px 14px;
  display: inline-block;
  background-color: #fcd21b;
}
.mini-cart .basket a .cart-title {
  font-size: 12px;
  font-weight: 500;
  display: inline-block;
  line-height: 15px;
  text-transform: uppercase;
}
.mini-cart .basket a .cart-total {
  font-size: 12px;
  font-weight: 500;
}
.cart-icon, .shoppingcart-inner {
  float: left;
  text-align: left;
}
.mini-cart .cart-icon i {
  font-size: 17px;
  margin-right: 5px;
  vertical-align: -1px;
  float: left;
}
.mini-cart .basket a:hover .fa-shopping-basket:before {
  background: #00b9f5;
  color: #fff;
}
.mini-cart .open .basket a {
  color: #fff;
  background: #fff;
  box-shadow: 0 3px 9px rgba(0,0,0,0.3)
}
.mini-cart .dropdown-toggle {
  font-size: 12px;
  padding: 0;
  text-transform: none
}
/*.top-cart-contain {
  padding: 0px;
  color: #333;
  margin-top: 0px;
  float: right;
  margin-left: 0px;
  height: 40px;
}*/
.top-cart-title p {
  margin: 0
}
.top-cart-content .empty {
  padding: 10px
}
.top-cart-content {
  width: 308px;
  position: absolute;
  top: 40px;
  right: 0px;
  padding: 0;
  text-align: right;
  background: #fff;
  box-shadow: 0 0 3px 0 #eaeaea;
  border: 1px #e8e8e8 solid;
  z-index: 50
}
.top-cart-content p {
  color: #333333;
  margin: 0;
  padding: 10px
}
.top-subtotal {
  color: #333333;
  font-size: 12px;
  font-weight: 700;
  padding: 8px 15px;
  text-align: left;
  text-transform: none;
  background-color: #f5fafc;
  margin-bottom: 12px
}
.top-cart-content .product-details .btn-remove {
  position: absolute;
  right: 10px;
  top: 4px
}
.top-cart-title {
  display: inline-block;
  padding: 3px;
  margin: 0;
  vertical-align: top;
  text-align: center;
  color: #223D62;
  line-height: 12px;
  position: relative;
  font-size: 12px;
  width: 20px;
  margin-top: 2px;
  margin-left: 29px
}
.top-cart-content .block-subtitle {
  border-bottom: 1px solid #fbfbfb;
  color: #333333;
  overflow: hidden;
  padding: 15px;
  text-align: left;
  font-size: 12px;
  background: #f5f5f5
}
ul#cart-sidebar {
  padding: 3px 15px 6px;
  margin: auto;
  max-height: 195px;
  overflow: auto;
}
.top-cart-title .cart_arrow {
  position: absolute;
  bottom: -6px;
  right: 50px;
  width: 18px;
  height: 11px;
  z-index: 1000;
  display: none
}
.top-cart-contain:hover .top-cart-title .cart_arrow {
  display: block
}
.top-cart-content li.item {
  width: 272px;
  margin: 5px 0px;
  border-bottom: 1px #e8e8e8 solid;
  min-height: 67px
}
.top-cart-content li.item.last {
  margin: 0;
  border-bottom: 0px #eee solid;
  padding-bottom: 10px
}
.top-cart-content .product-details {
  color: #333333;
  position: relative;
  text-align: left
}
.mini-products-list .product-details {
  margin-left: 80px;
  padding: 0
}
.top-cart-content .product-details .btn-remove {
  position: absolute;
  right: 10px;
  top: 12px
}
.top-cart-content .product-details .btn-edit {
  position: absolute;
  right: 22px;
  top: 6px
}
.top-cart-content .actions {
  padding: 5px 15px 20px;
  margin: 0;
  overflow: hidden
}
.top-cart-icon {
  padding: 5px;
  width: 20px;
  height: 24px;
  display: inline-block;
  vertical-align: middle
}
.top-cart-title span {
  font-weight: normal;
  font-size: 12px;
  text-transform: uppercase
}
.top-cart-title p span {
  text-transform: none
}
.mini-cart .actions .fa-shopping-cart:before {
  font-size: 12px;
  padding-right: 8px
}
.mini-cart .actions .fa-check:before {
  font-size: 12px;
  padding-right: 8px
}
.mini-cart .actions .btn-checkout {
  background: #494b58;
  color: #999;
  font-size: 12px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  display: inline-block;
  transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
  border: none;
  font-weight: 500;
  text-transform: uppercase;
}
.mini-cart .actions .btn-checkout:hover {
  background: #333333;
  color: #fff;
}
.mini-cart .actions .view-cart {
  background: #ab0c22;
  color: #fff;
  font-size: 12px;
  padding: 8px 16px;
  text-align: left;
  cursor: pointer;
  text-decoration: none;
  float: left;
  transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s, background-position 300ms ease-in-out 0s;
  font-weight: 500;
  border: none;
}
.mini-cart .actions .view-cart i, .mini-cart .actions .btn-checkout i {
  margin-right: 2px;
  font-size: 16px;
  vertical-align: 0px;
}
.mini-cart .actions .view-cart:hover {
  color: #494b58;
  background-color: #fcd21b;
}
.mini-cart .actions .button {
  display: inline-block;
  width: 100px;
  text-align: center;
  margin-bottom: 3px;
  padding: 8px 10px 6px;
  text-transform: none;
  border: none;
  font-size: 12px;
  text-transform: uppercase
}
.mini-cart .button.btn-checkout {
  background-color: #970400;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 0px 6px;
  height: 32px;
  line-height: 32px;
}
.block_mini_cart_above_products {
  margin-bottom: 15px
}
.mini-cart>.button {
  color: #333333;
  font-size: 12px;
  font-weight: 300;
  text-shadow: none;
  border: none;
  box-shadow: none;
  background: none
}
#cart-sidebar li {
  border-bottom: 1px solid #ECECEC;
  list-style: none;
  margin-bottom: 8px;
  overflow: hidden;
  padding: 8px 0 15px
}
#cart-sidebar li.last {
  padding: 5px 0 0;
  border-bottom: none;
  margin-bottom: 0
}
.remove-cart {
  display: block;
  width: 15px;
  height: 13px;
  position: absolute;
  right: 0;
  top: 0;
  color: #666;
}
.remove-cart i {
  font-size: 16px;
}
.remove-cart:hover {
  color: #00B9F5;
}