body{}
.navbar-brand{padding:10px;height: 70px;width:250px;}
.navbar-brand>img{max-height:100%;}
.page-header.navbar{height: 70px;}
.page-header-fixed .page-container {margin-top: 70px;}
.navbar-nav>li>a{line-height: 50px;color:#000;}
.page-sidebar .page-sidebar-menu span.fa.arrow {float: right;}
.label{font-weight: bold;}
.page-sidebar .page-sidebar-menu > li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover, .page-sidebar-menu > li > a{
	padding:15px 10px!important;}
.btn-auth-img:hover{font-weight:bold;color: #fff;background-color: #17bff0;border-color: #17bff0;}
.btn-auth-img{font-weight:bold;color: #17bff0;background-color: transparent;background-image: none;border-color: #17bff0;}
 .book-cat-form .form-group{
     margin-right:0; 
     margin-left:0; 
}
.feacnt1{position:absolute;top:11px;border-radius:50%!important;right:2px;}
.count-info .fa-bell-o{font-size:20px;}
.book-page-title{font-size: 16px;font-weight: bold;color: #4b6076;padding-bottom: 6px;text-transform: capitalize;}
.no-pad{padding:0;}
table.dataTable tbody th, table.dataTable tbody td{padding: 15px 15px;}
.table-striped>tbody>tr:nth-of-type(odd){background:rgba(25, 118, 210, 0.05);}
.table.dataTable.no-footer{border-bottom:none;}
table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: none !important;
}
.table thead tr th {
    
    font-weight: 700;
    color:#696969;
}
.page-title {margin: 0px 0px 15px 0px;}
.table>tbody>tr>td{color:#5c5c5c;font-weight:400;border: none;}
.tbl-book-create .table>tbody>tr>td{border-top:none !important;}
table.dataTable.no-footer{border-bottom:none !important;border: 1px solid #dcdcdc;}
.Book-Ban input{    box-shadow: unset;border: 1px solid #b0adad;padding: 5px;border-radius: 5px !important;}
.currency-type option{padding-left:15px;}
.currency-type{border-radius: 0px !important;}
.book-cat-form .book-banner{font-size:18px;}
.book-cat-form .price-section{width: 100%;float: left;text-align: left;}
.book-cat-form  .form-group{margin-bottom:25px;}

.text-amt{float: right;padding: 0;}
.abt-book {margin-left: 15px;}
.abt-book div {padding-left: 0;}
.stat-icon {display: inline-block;float: left;position: relative;}
.abt-book img {width: 40px;height: 40px;}
.abt-book .stat-desc {    padding-left: 50px;font-size: 16px;font-weight: 500;}
.stat-desc > input{width: 100%;display: block;}

/*pricingTable start */

 :root{--pricingTable-yellow: #faac01;--pricingTable-purple: #be4f91;--pricingTable-blue: #0192af;}
.pricingTable{padding-bottom: 10px;background: #fff;border-bottom: 15px solid var(--pricingTable-yellow);text-align: center;overflow: hidden;position: relative;}
.pricingTable:before{content: "";width: 100%;height: 350px;background: var(--pricingTable-yellow);position: absolute;top: -150px;left: 0;transform: skewY(-20deg);}
.pricingTable .pricingTable-header{padding: 20px 20px 60px;text-align: left;position: relative}
.pricingTable .title{font-size: 30px;font-weight: 600;color: #fff;text-transform: uppercase;margin: 0;}
.pricingTable .sub-title{display: block;font-size: 13px;color: #fff;word-break:break-all;}
.pricingTable .year{width: 80px;height: 55px;background: #fff;padding: 7px 0;font-size: 15px;font-weight: 600;font-style: italic;color: var(--pricingTable-yellow);text-align: center;position: absolute;top: 30px;right: 20px;z-index: 1;}
.pricingTable .year:before,
.pricingTable .year:after{content: "";width: 57px;height: 57px;background: #fff;position: absolute;top: -28px;left: 50%;z-index: -1;transform: translateX(-50%) scaleY(0.5) rotate(45deg);}
.pricingTable .year:after{top: auto;bottom: -28px;}
.pricingTable .price-value{display: inline-block;width: 170px;height: 110px;padding: 15px;border: 2px solid var(--pricingTable-yellow);border-top: none;border-bottom: none;position: relative;}
.pricingTable .price-value:before,
.pricingTable .price-value:after{content: "";width: 121px;height: 121px;border: 3px solid var(--pricingTable-yellow);border-right: none;border-bottom: none;position: absolute;top: -60px;left: 50%;transform: translateX(-50%) scaleY(0.5) rotate(45deg);}
.pricingTable .price-value:after{border-top: none;border-left: none;border-bottom: 3px solid var(--pricingTable-yellow);border-right: 3px solid var(--pricingTable-yellow);top: auto;bottom: -60px;}
.pricingTable .value{width: 100%;height: 100%;background: #fff;border: 2px solid var(--pricingTable-yellow);border-top: none;border-bottom: none;color: var(--pricingTable-yellow);z-index: 1;position: relative;}
.pricingTable .value:before,
.pricingTable .value:after{content: "";width: 97px;height: 97px;background: #fff;border: 3px solid var(--pricingTable-yellow);border-bottom: none;border-right: none;position: absolute;top: -48px;left: 50%;z-index: -1;transform: translateX(-50%) scaleY(0.5) rotate(45deg);}
.pricingTable .value:after{border-right: 3px solid var(--pricingTable-yellow);border-bottom: 3px solid var(--pricingTable-yellow);border-top: none;border-left: none;top: auto;bottom: -48px;}
.pricingTable .currency{display: inline-block;font-size: 30px;margin-top: 7px;vertical-align: top;}
.pricingTable .amount{display: inline-block;font-size: 26px;font-weight: 600;line-height: 42px;float: none;width: 100%;}
.pricingTable .amount span{display: inline-block;font-size: 30px;font-weight: normal;vertical-align: top;margin-top: -7px;}
.pricingTable .month{font-size: 11px;line-height: 0;text-align: center;word-break: break-all}
.pricingTable .pricing-content{padding: 50px 0 0 80px;margin-bottom: 20px;list-style: none;text-align: left;transition: all 0.3s ease 0s;}
.pricingTable .pricing-content li{padding: 7px 0;font-size: 16px;color: #808080;position: relative;}
.pricingTable .pricing-content li:before,
.pricingTable .pricing-content li.disable:before{content: "\f00c";font-family:fontawesome;font-weight: 900;width: 25px;height: 25px;line-height: 25px;border-radius: 50%;background: #98c458;text-align: center;color: #fff;position: absolute;left: -50px;}
.pricingTable .pricing-content li.disable:before{content: "\f00d";background: #fe6c6c;}
.pricingTable .pricingTable-signup{display: inline-block;width: 100%;height: 50px;line-height: 50px;font-size: 22px;font-weight: 700;color: var(--pricingTable-yellow);text-transform: uppercase;border: 2px solid var(--pricingTable-yellow);margin: 0 auto 10px;position: relative;transition: all 0.3s ease 0s;}
.pricingTable .pricingTable-signup:hover{background: var(--pricingTable-yellow);color: #fff;}
.pricingTable.purple{ border-bottom-color: var(--pricingTable-purple); }
.pricingTable.purple:before{ background: var(--pricingTable-purple); }
.pricingTable.purple .year{ color: var(--pricingTable-purple); }
.pricingTable.purple .price-value{border-left-color: var(--pricingTable-purple);border-right-color: var(--pricingTable-purple);}
.pricingTable.purple .price-value:before{border-left-color: var(--pricingTable-purple);border-top-color: var(--pricingTable-purple);}
.pricingTable.purple .price-value:after{border-right-color: var(--pricingTable-purple);border-bottom-color: var(--pricingTable-purple);}
.pricingTable.purple .value{border-left-color: var(--pricingTable-purple);border-right-color: var(--pricingTable-purple);color: var(--pricingTable-purple);}
.pricingTable.purple .value:before{border-left-color: var(--pricingTable-purple);border-top-color: var(--pricingTable-purple);}
.pricingTable.purple .value:after{border-right-color: var(--pricingTable-purple);border-bottom-color: var(--pricingTable-purple);}
.pricingTable.purple .pricingTable-signup{color: var(--pricingTable-purple);border-color: var(--pricingTable-purple);}
.pricingTable.purple .pricingTable-signup:hover{color: #fff;background: var(--pricingTable-purple);}
.pricingTable.blue{ border-bottom-color: var(--pricingTable-blue); }
.pricingTable.blue:before{ background: var(--pricingTable-blue); }
.pricingTable.blue .year{ color: var(--pricingTable-blue); }
.pricingTable.blue .price-value{border-left-color: var(--pricingTable-blue);border-right-color: var(--pricingTable-blue);}
.pricingTable.blue .price-value:before{border-left-color: var(--pricingTable-blue);border-top-color: var(--pricingTable-blue);}
.pricingTable.blue .price-value:after{border-right-color: var(--pricingTable-blue);border-bottom-color: var(--pricingTable-blue);}
.pricingTable.blue .value{border-left-color: var(--pricingTable-blue);border-right-color: var(--pricingTable-blue);color: var(--pricingTable-blue);}
.pricingTable.blue .value:before{border-left-color: var(--pricingTable-blue);border-top-color: var(--pricingTable-blue);}
.pricingTable.blue .value:after{border-right-color: var(--pricingTable-blue);border-bottom-color: var(--pricingTable-blue);}
.pricingTable.blue .pricingTable-signup{color: var(--pricingTable-blue);border-color: var(--pricingTable-blue);}
.pricingTable.blue .pricingTable-signup:hover{color: #fff;background: var(--pricingTable-blue);}

/*pricingTable End */

select{box-shadow: unset;border: 1px solid #b0adad;padding: 5px;background-color:#fff;color:#000;padding:5px 15px;border-radius:5px !important;}
@media only screen and (max-width: 990px){
    .pricingTable{ margin-bottom: 30px; }
}
@media only screen and (max-width: 767px){
    .pricingTable:before{ transform: skewY(-15deg); }
    .pricingTable .title{ font-size: 22px; }
}
@media (max-width: 768px){
.btn-add-file, .btn-drop-close{display:none;}


